<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='경고 기준 설정'">

	<th:block layout:fragment="content">
        <script th:inline="javascript">
            /* <![CDATA[ */
                var mData = /*[[${list.criteriaList}]]*/
                console.log(mData);
            /* ]]> */
        </script>
        <script type="text/javascript">
            $(function() {
                $("#configSave").on("click", function(){
                    let list = new Array();
                    mData.forEach(e => {
                        if(e.code != 'ORDI'){
                            let jObj = new Object();
                            jObj.code=e.code;
                            jObj.name=e.name;
                            jObj.criterion=$("#"+e.code).val();
                            jObj.comment=e.comment;
                            list.push(jObj);
                        }
                    });

                    if(confirm("저장 하겠습니까?")){
                    let result = fnCall('post', '/manage/station_set_rcc_modify', JSON.stringify(list));
                    
                    console.log("result :: "+ result.status);
                    if(result.status == "success"){
                        alert("저장되었습니다.");
                        location.href="/manage/station_set_rcc"; //다시 로딩
                    } else {
                        alert("저장에 실패하였습니다. \n" + result.data);
                    }
                }
                });
            });
        </script>
    
        <input type="hidden" name="termStart" id="termStart">
        <input type="hidden" name="termClose" id="termClose">
        <table class="noticeTbl searchSeries">
            <thead>
            <tr>
                <th class="left">
                    관리 &gt; 경고 기준 설정
                </th>
                <th class="right">
                    <input type="submit" id="configSave" class="btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="설정저장">
                </th>
            </tr>
            </thead>
        </table>

        <table class="table subTbl table-hover" summary="">
            <caption class="hidden">경고 기준 설정</caption>
            <colgroup>
                <col />
                <col />
            </colgroup>
            <thead class="subThead">
                <tr>
                    <th>구분</th>
                    <th>설정값</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="list : ${list.criteriaList}" th:if="${list.code} != 'ORDI'">
                    <td>
                        <span th:text="${list.name + ' 기준'}"></span>
                    </td>
                    <td class="left">
                        <span th:if="${list.code} == 'NOTI'">
                            자료가 연속으로 <input type="text" name="NOTI" id="NOTI" class="rccset" th:value="${list.criterion}"/>회 이상 자료가 미수신일 때
                        </span>
                        <span th:if="${list.code} == 'WARN'">
                            자료가 연속으로 <input type="text" name="WARN" id="WARN" class="rccset" th:value="${list.criterion}"/>회 이상 자료가 미수신일 때
                        </span>
                        <span th:if="${list.code} == 'RETR'">
                            주의 또는 경고 상태에서 자료가 연속으로 <input type="text" name="RETR" id="RETR" class="rccset" th:value="${list.criterion}"/>회 이상 자료가 수신되었을 때
                        </span>
                        <span th:if="${list.code} == 'TOTA'">
                            전 사이트가 연속으로 <input type="text" name="TOTA" id="TOTA" class="rccset" th:value="${list.criterion}"/>회 이상 자료가 미수신일 때
                        </span>
                        <span th:if="${list.code} == 'TORE'">
                            어느 한 사이트가 연속으로 <input type="text" name="TORE" id="TORE" class="rccset" th:value="${list.criterion}"/>회 이상 자료가 수신되었을 때
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </th:block>
</html>