@charset "utf-8";
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
    url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
    url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
/* //  src: url('@{fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts */
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: 'notokrR';
  src: url('../font/notoKR_subset/NotoSans-Regular.eot');
  src: url('../font/notoKR_subset/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/notoKR_subset/NotoSans-Regular.woff2') format('woff2'),
       url('../font/notoKR_subset/NotoSans-Regular.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Regular.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Regular.ttf') format('truetype'),
       url('../font/notoKR_subset/NotoSans-Regular.svg#NotoSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'notokrL';
  src: url('../font/notoKR_subset/NotoSans-Light.eot');
  src: url('../font/notoKR_subset/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../font/notoKR_subset/NotoSans-Light.woff2') format('woff2'),
       url('../font/notoKR_subset/NotoSans-Light.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Light.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Light.ttf') format('truetype'),
       url('../font/notoKR_subset/NotoSans-Light.svg#NotoSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'notokrDM';
  src: url('../font/notoKR_subset/NotoSans-DemiLight.eot');
  src: url('../font/notoKR_subset/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
       url('../font/notoKR_subset/NotoSans-DemiLight.woff2') format('woff2'),
       url('../font/notoKR_subset/NotoSans-DemiLight.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-DemiLight.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-DemiLight.ttf') format('truetype'),
       url('../font/notoKR_subset/NotoSans-DemiLight.svg#NotoSans-DemiLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'notokrM';
  src: url('../font/notoKR_subset/NotoSans-Medium.eot');
  src: url('../font/notoKR_subset/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('../font/notoKR_subset/NotoSans-Medium.woff2') format('woff2'),
       url('../font/notoKR_subset/NotoSans-Medium.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Medium.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Medium.ttf') format('truetype'),
       url('../font/notoKR_subset/NotoSans-Medium.svg#NotoSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'notokrB';
  src: url('../font/notoKR_subset/NotoSans-Bold.eot');
  src: url('../font/notoKR_subset/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/notoKR_subset/NotoSans-Bold.woff2') format('woff2'),
       url('../font/notoKR_subset/NotoSans-Bold.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Bold.woff') format('woff'),
       url('../font/notoKR_subset/NotoSans-Bold.ttf') format('truetype'),
       url('../font/notoKR_subset/NotoSans-Bold.svg#NotoSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
} */
/* Reset */
body,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,ul,li,dl,dt,dd,button,p,a{color:#333;font-family:"notokrR","Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;font-size:12px;font-weight:normal;word-spacing:.5px;letter-spacing:-.01em;}
body,html{width:100%;height:100%;text-align:center;-webkit-text-size-adjust:none;background:#fff;}
b{font-family:"notokrM";font-weight:900;}
h1,h2,h3,h4,h5,h6{display:inline-block;box-sizing:border-box;width:auto;}
ul,ol,li{box-sizing:border-box;list-style:none;}
img,fieldset,iframe{border:none;}
fieldset{display:inline-block;}
img,input,select{vertical-align:middle;}
span,
a{
  vertical-align: middle;
  display:inline-block;text-decoration:none;box-sizing:border-box;}
a:hover{text-decoration:none;}
caption{width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;}
em,address{font-style:normal;}
/* table{border:0;border-spacing:0;width:100%;text-align:center;border-collapse:collapse;} */
p{text-align:justify;}
button{display:inline-block;border:none;cursor:pointer;box-sizing:border-box;background:transparent;}
input, textarea {border:1px solid #a9a9a9;color:#333;vertical-align:middle;}

hr{border:100px solid #a9a9a9;color:#333}

.scroll{overflow-y:scroll;background-color:#f5f5f5;}
.full{display:inline-block;width:100%!important;min-width:auto;}

.noPd{padding: 0 !important;}
.noBg{background-image: none !important;}
.noBd{border: 0 !important}
.noMg{margin: 0 !important;}
.noMgBtm{margin-bottom: 0 !important;}
.noMgRight{margin-right: 0 !important;}
.noIndent{text-indent:0 !important;;}
.noFloat{float: none !important;}

.clear{clear:both;}

/* 정렬 */
.alignC{text-align: center !important;}
.alignL{text-align: left !important;}
.alignR{text-align: right !important;}

.fl{float:left !important;}
.fr{float:right !important;}

/* .clearfix{*zoom:1;}
.clearfix::before,
.clearfix::after{display:block;content:"";line-height:0;}
.clearfix::after{clear:both;} */

/* normal font */
.blind{font-size:0;line-height:0;position:absolute;left:0;top:0;text-indent:-9999px;visibility:hidden;overflow:hidden;}
.f_blind{font-size:0;line-height:0;color:transparent;overflow:hidden;}
.divideR,
.divideL{position:relative;overflow:hidden;padding-left:15px;vertical-align:top;}
.divideR::before,
.divideL::before{position:absolute;left:5px;top:50%;content:"";display:inline-block;width:1px;height:18px;background:#ccc;margin-top:-9px;}
.divideR{padding:0 15px 0 0;}
.divideR::before{left:auto;right:5px;}

/* accessibility */
#accessibility{position:relative;display:block;z-index:999;}
#accessibility a{display:block;width:1px;height:1px;margin-bottom:-1px;overflow:hidden;text-align:center;color:#fff;}
#accessibility a:focus,#accessibility a:active{width:100%;height:auto;padding:5px 0;background:#09f;}

.axi_only{font-size:0!important;}
.axi_only::before,
.axib::before{font-family:'axicon';font-size:12px;vertical-align:middle;}
.axib::before{margin-right:5px;line-height:0;}
.axi_plus::before{content:"\f2c7";color:#fff;}
.axi_search::before{content:"\f002";color:#fff;}
.axi_help::before{content:"\f1ce";color:#fff;font-size:13px;}
.axi_play::before{content:"\f144";color:#fff;}
.axi_vidio::before{content:"\f03d";}
.axi_v_play::before{content:"\f04b";}
.axi_v_stop::before{content:"\f04d";margin-left:3px;}
.axi_v_first::before{content:"\f048";}
.axi_v_last::before{content:"\f051";}
.axi_v_prev::before{content:"\f04a";margin-left:-1px;}
.axi_v_next::before{content:"\f04e";margin-right:-1px;}

.btn_toggle{position:relative;width:60px;height:20px;background-color:#2e66aa;border-radius:8px;vertical-align:middle;padding:0 5px;box-sizing:border-box;font-size:0;border:1px solid;}
.btn_toggle[disabled]{cursor:default;}
.btn_toggle::before{position:absolute;top:1px;display:inline-block;content:"";width:16px;height:16px;background-color:#fff;border-radius:50%;}
.btn_toggle::after{font-size:12px;line-height:17px;color:#fff;letter-spacing:0;}
.btn_toggle[datavalue="on"]{background-color:#2e66aa;border-color:#2e66aa;}
.btn_toggle[datavalue="on"]::before{left:1px;}
.btn_toggle[datavalue="on"]::after{content:"ON";float:right;}
.btn_toggle[datavalue="off"]{background-color:#7e7e7e;border-color:transparent;}
.btn_toggle[datavalue="off"]::before{left:inherit;right:1px;}
.btn_toggle[datavalue="off"]::after{content:"OFF";float:left;}
.btn_toggle.pdf_psd[datavalue="on"]::after{content:"PDF";}
.btn_toggle.pdf_psd[datavalue="off"]::after{content:"PSD";}

.file_text{float:left;width:380px;height:19px;}
.file_wrap{display:inline-block;position:relative;width:60px;height:24px;margin-left:5px;cursor:pointer;line-height:22px;}
.file_add{filter:alpha;opacity:0;position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:24px;padding:0;border:0;cursor:pointer;}
/* .file_add{filter:alpha(opacity:0);opacity:0;position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:24px;padding:0;border:0;cursor:pointer;} */

.overlay{position:fixed;left:0;top:0;height:100%;background:rgba(0,0,0,.3);z-index:400;}

/* input [ radio | checkbox ] */
label{vertical-align:middle;margin-bottom: 0rem;}
[required]::before,
.required::after{content:" *";color:#f35857;font-size:11px;font-weight:600;}
[required]::before{margin-right:5px;}
input,
select{padding:1px 5px 2px;box-sizing:border-box;
  /* height:24px; */
  border:1px solid #a9a9a9;}
select[multiple]{height:auto;}
input[type="text"],
input[type="password"]{height:24px;}
input[type="radio"],
input[type="checkbox"]{height:auto;border:none;margin-right:3px;}
select{vertical-align:bottom\9;padding-right:0;}
select::-ms-expand{background:none;border:none;color:#606060;}
option:hover{background:#e3f4fb;}
textarea{resize:none;padding:5px;box-sizing:border-box;}
input[disabled],
select[disabled],
textarea[disabled]{border:1px solid #f5f5f5; color:#999;background-color:#fefefe;}
.radio{margin-right:4px;margin-right: 1px\9; /* ie */}
.checkbox{margin: 0 4px 3px 0;margin:0 1px 0 0\9;}
.to,
.from,
.radio_wrap label{margin-right:5px;}
label input{margin-top:-3px;}
.period{line-height:24px;}
.period label,
.period input{vertical-align:top;}
.period_multi{position:relative;}
.period_multi::after{content:"~";position:absolute;left:50%;top:0;margin:0 0 0 -5px;}
.divideL.period_multi::after{margin-left:0;}
.period_multi [dataformat="to"]{margin-left:20px;}

/* paginate */
.paginate{padding:15px 0;text-align:center}
.paginate a,.paginate strong{display:inline-block;position:relative;_width /**/:14px;min-width:23px;padding:1px 5px 2px 4px;color:#333;font-size:15px;line-height:normal;box-sizing:border-box;font-weight:normal;margin:0 3px;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.paginate strong{color:#fff;background-color:#367fa9;}
.paginate .pre,
.paginate .next,
.paginate .first,
.paginate .last{_width /**/:47px;width:23px;height:23px;color:#777;background-color:#fff;border:1px solid #d7d7d7;margin:0 1px;font-size:10px;line-height:19px;font-weight:bold;}
.paginate a:hover{text-decoration:underline;}
