/* @charset "utf-8"; */
body,a{font-size:12px;color:#666;}
a,.cur_p{cursor:pointer}
a{text-decoration:none; cursor:pointer;color:#666}
a:link{text-decoration:none}
a:visited{text-decoration:none; color:#666}
a:hover,a:active,a:focus{text-decoration:none; color:#245bb1}
select{border:1px solid #d2d3d6;}
ol{list-style:none;}

body{min-width:970px; position: relative;}
#wrap{background:#fff;}
#container{clear:both;}
#content{width:100%;}
#header{width:970px;margin:0 auto;position:relative;}
#container:after,#header:after,div.gnb ul li:after,div.lnb:after,div.sj:after,#footer div:after,#footer:after,div.btnA:after,div.sear:after{clear:both;content:'';display:block;}
#footer{clear:both;text-align:center;border-top:1px solid #b9b4a8;height:136px;}
#footer div.footw{display:block;border-bottom:1px solid #dbdbdb;text-align:center;width:100%;}
#footer ul{width:900px;margin:0 auto;}
#footer ul li{display:inline-block;float:left;padding:15px 0;font-weight:bold;}
#footer ul li a{display:inline-block;border-right:1px solid #cdcbcb;padding:0 25px;}
#footer ul li.last a{border-right:none;}
#footer div{position:relative;width:970px;padding:0;margin:0 auto;}
#footer div img{margin:25px 35px 25px 0;float:left;}
#footer div address{width:700px;float:left;margin-top:29px;text-align:left;line-height:18px;}

/* table  */
caption{display:none}
.tw1{border-top:2px solid #ff4a02;}
.tw2{border-bottom:1px solid #d4d4d4;margin-bottom:15px;}
.tw3{border-top:2px solid #13265f;margin-bottom:15px;}

table.f1 th{padding-left:15px;background:#f5f5f5;font-weight:bold;text-align:left}
table.f1 td,table.f1 th{padding:4px 10px;border:1px solid #d4d4d4;line-height:22px}
table.f1 td.last,table.f1 th.last{border-right:none}
table.f1 td label{margin-left:5px;}
table.f1 td li{word-break:break-all; width:115px;}
table.f1 .center{text-align:center}
table.f1 .left{text-align:left}
table.f1 .right{text-align:right}

table.f2 th{padding-left:15px;background:#ededed;font-weight:bold;text-align:left}
table.f2 td,table.f2 th{padding:9px 10px;border:1px solid #d4d4d4;}
table.f2 td{background:#f8f8f8;}
table.f2 td.last,table.f2 th.last{border-right:none}
table.f2 td label{margin-right:5px;}
table.f2 td input[type=text]{width:85px;}
table.f2 td.mr input[type=text]{margin-right:5px;}
table.f2 td input[type=checkbox]{margin-right:7px;}
table.f2 td img{margin-right:5px;}
table.f2 td p{float:left;border-right:1px solid #bbbbbb;}
table.f2 td p.last{border-right:none;margin-right:0;}
table.f2 td p.mr a{margin-left:2px;}
table.f2 td p.pno{padding-top:2px;}
table.f2 .center{text-align:center}
table.f2 .left{text-align:left}
table.f2 .right{text-align:right}

table.board th{padding-left:15px;background:#13265f;font-weight:bold;text-align:center;color:#fff;}
table.board td,table.board th{padding:4px 10px;border-bottom:1px solid #d4d4d4;line-height:22px;text-align:left;}
table.board td.last,table.board th.last{border-right:none}

table.view th{padding-left:15px;font-weight:bold;}
table.view td,table.view th{padding:4px 10px;border-bottom:1px solid #d4d4d4;line-height:22px;text-align:left;background:url(/images/bg/l.gif) right 12px no-repeat;vertical-align:top;}
table.view td.last,table.view th.last{border-right:none;background-image:none;}
table.view td{padding-left:15px;}
table.view td div{min-height:275px;}


/* table{border-collapse:collapse;} */
/* table td.last,table th.last{border-right:none}
table td.center,table th.center{text-align:center}
table td.left,table th.left{text-align:left}
table td.right,table th.right{text-align:right} */

/* sub */
h1.logo{text-align:center;padding:20px 0;}
div.top_link{position:absolute;right:10px;top:40px;}

/*
 정보공개
*/
div.lnb ul.s8 li.m1 a{background-position:-600px -240px;}
div.lnb ul.s8 li.m2 a{background-position:-800px -40px;}
div.lnb ul.s8 li.m3 a{background-position:-800px -280px;}
div.lnb ul.s8 li.m4 a{background-position:-800px -240px;}
div.lnb ul.s8 li.m5 a{background-position:-800px -200px;}

div.lnb ul.s8 li.m1 a:hover,div.lnb ul.s8 li.m1 a.on,div.lnb ul.s8 li.m1 a:focus{background-position:-600px -640px;}
div.lnb ul.s8 li.m2 a:hover,div.lnb ul.s8 li.m2 a.on,div.lnb ul.s8 li.m2 a:focus{background-position:-800px -440px;}
div.lnb ul.s8 li.m3 a:hover,div.lnb ul.s8 li.m3 a.on,div.lnb ul.s8 li.m3 a:focus{background-position:-800px -680px;}
div.lnb ul.s8 li.m4 a:hover,div.lnb ul.s8 li.m4 a.on,div.lnb ul.s8 li.m4 a:focus{background-position:-800px -640px;}
div.lnb ul.s8 li.m5 a:hover,div.lnb ul.s8 li.m5 a.on,div.lnb ul.s8 li.m5 a:focus{background-position:-800px -600px;}

/* 하단 메뉴 */
div.lnb ul.s9 li.m1 a{background-position:-1400px 0;}
div.lnb ul.s9 li.m2 a{background-position:-1400px -40px;}
div.lnb ul.s9 li.m3 a{background-position:-1400px -80px;}
div.lnb ul.s9 li.m4 a{background-position:-1400px -120px;}
div.lnb ul.s9 li.m5 a{background-position:-1400px -160px;}
div.lnb ul.s9 li.m6 a{background-position:-1400px -200px;}
div.lnb ul.s9 li.m7 a{background-position:-1400px -240px;}
div.lnb ul.s9 li.m8 a{background-position:-1400px -280px;}

div.lnb ul.s9 li.m1 a:hover,div.lnb ul.s9 li.m1 a.on,div.lnb ul.s9 li.m1 a:focus{background-position:-1400px -400px;}
div.lnb ul.s9 li.m2 a:hover,div.lnb ul.s9 li.m2 a.on,div.lnb ul.s9 li.m2 a:focus{background-position:-1400px -440px;}
div.lnb ul.s9 li.m3 a:hover,div.lnb ul.s9 li.m3 a.on,div.lnb ul.s9 li.m3 a:focus{background-position:-1400px -480px;}
div.lnb ul.s9 li.m4 a:hover,div.lnb ul.s9 li.m4 a.on,div.lnb ul.s9 li.m4 a:focus{background-position:-1400px -520px;}
div.lnb ul.s9 li.m5 a:hover,div.lnb ul.s9 li.m5 a.on,div.lnb ul.s9 li.m5 a:focus{background-position:-1400px -560px;}
div.lnb ul.s9 li.m6 a:hover,div.lnb ul.s9 li.m6 a.on,div.lnb ul.s9 li.m6 a:focus{background-position:-1400px -600px;}
div.lnb ul.s9 li.m7 a:hover,div.lnb ul.s9 li.m7 a.on,div.lnb ul.s9 li.m7 a:focus{background-position:-1400px -640px;}
div.lnb ul.s9 li.m8 a:hover,div.lnb ul.s9 li.m8 a.on,div.lnb ul.s9 li.m8 a:focus{background-position:-1400px -680px;}

div.lBanner1{text-align:center;padding:14px 0;background:#f05d00;color:#fff;}
div.lBanner1 img{margin-bottom:10px;}


div.ctBox{margin:0 auto;width:970px;padding:0 0px;}
div.ct{display:inline-block;padding-top:0px;padding-left:0px;min-height:650px;width:743px;position:relative;}

div.sj{position:relative;width:100%;height:50px;}
div.sj h3{position:absolute;left:0;top:0;}
div.sj ul{position:absolute;right:0;top:0;}
div.sj ul li{float:left;margin:0 3px;font-size:11px;color:#767676;}
div.sj ul li img{vertical-align:top;position:relative;top:1px;}

/* ppio */
.PPI0_lap {margin-bottom:10px; *zoom:1;}
.PPI0_lap:after{display:block; clear: both; content:'';}
.PPI0_lap div.pop1{position:absolute;background:#fff;border:1px solid #b1b1b1;width:430px;padding:8px 10px;z-index:999;bottom:8px;right:0;}
#slider{position:relative;top:2px;}
div.pop1 p.time{font-size:11px;;margin-top:6px;color:#757575;}
div.pop1 p.time span{display:inline-block;margin-right:25px}
div.pop1 p.time span.last{margin-right:0;}
div.mapR{position:relative;}
div.mapR div.lLeft{float:left;margin-right:5px;}
div.mapR div.lLeft>img{margin-bottom:10px;}
div.mapR div.lLeft div{margin-bottom:10px;}
div.mapR div.lLeft ul{margin-bottom:20px;}
div.mapR div.lLeft ul li{margin-bottom:5px;letter-spacing:-1px;}
div.mapR div.lReft{float:right;}
/*20131011*/
.PPI0_top {border:1px solid #dbdbdb; background:#f8f8f8; *zoom:1;}
.PPI0_top:after{display:block; clear: both; content:'';}
.PPI0_top .set01, .PPI0_top .set02 {height:42px; line-height:42px; border-bottom:1px solid #dbdbdb;}
.PPI0_top .last{border-bottom:none;}
.PPI0_top .set01 input {vertical-align:middle;}
.PPI0_top .set01 input[type=text], .PPI0_top .set02 input[type=text] {height:20px; border:1px solid #c2c2c2;}
.PPI0_top .set01 strong, .PPI0_top .set02 strong {display:inline-block; text-align:center; width:85px; border-right:1px solid #dbdbdb; float:left;background:#ededed;}
.set01 p {float:left; background:url(/images/bg/line01.gif) right center no-repeat; padding-right:6px;}
.set01 .month_area{position: relative; float:left; background:url(/images/bg/line01.gif) right center no-repeat; padding-right:6px;}
.month_area{position: relative; float:left; background:url(/images/bg/line01.gif) right center no-repeat;}

.set02 input[type=text] {width:79px; margin-left:6px;}
.set02 span {display:inline-block; margin-right:10px;}
.PPI0_top .set01 strong, .PPI0_top .set02 strong {display:inline-block; text-align:center; width:80px; border-right:1px solid #dbdbdb; float:left;background:#ededed;}


/* 참여마당 */
div.sear{text-align:right;margin-top:30px;margin-bottom:10px;overflow:hidden;}
div.mt_0{margin-top:0}
div.sear select{height:25px;}
div.sear select, div.sear input,div.sear a{vertical-align:middle;}
div.sear input{height:25px; padding:5px 0;}
div.sear input.zoom{background:#fff url(/images/icon/zoom.gif) 5px center no-repeat}

/* button */
div.btnA{text-align:center;position:relative;}
div.btnA div.left{display:inline-block;position:absolute;left:0;top:0;}
div.btnA div.right{display:inline-block;position:absolute;right:0;top:0;}
a.btn_g{display:inline-block;height:25px;padding:0 0 0 8px;background:url(/images/btn/bg_g.png) left top no-repeat;line-height:24px;font-weight:bold;font-size:11px;margin-right:8px;color:#fff}
a.btn_g span{position:absolute;margin-right:-8px;width:8px;height:25px;background:url(/images/btn/bg_g_r.png) right top no-repeat;top:0}
a.btn_b1{background:#6a8dc6;border:1px solid #174da4;display:inline-block;padding:1px 4px 0px;color:#fff;font-size:11px;line-height:14px;}
a.btn_b2{background:#1b52a9;display:inline-block;padding:3px 8px;color:#fff;line-height:14px;}
a.btn_b2 img{margin-right:2px;}
a.btn_01 {display:inline-block; height:23px;padding:0 7px;text-align:center; line-height:18px; background:#1b52a9; color:#fff;border:1px solid #1b52a9;}
a.btn_02 {display:inline-block; height:23px;padding:0 5px;text-align:center; line-height:18px; background:#fff; color:#666; border:1px solid #c2c2c2;}
a.btn_03 {display:inline-block; height:23px;padding:0 8px;text-align:center; line-height:20px; background:#f05d00; color:#fff;}
a.btn_04 {display:inline-block; height:23px;padding:0 5px;text-align:center; line-height:19px; background:#666; color:#fff;}
a.btn_g1{display:inline-block;background:#9c9c9c;color:#fff;text-align:center;padding:5px 7px;}
a.btn_g1 img{position:relative;bottom:2px;margin-right:4px;}
a.btn_g2{display:inline-block;background:#7a7c83;color:#fff;text-align:center;padding:5px 15px;}
a.btn_o1{display:inline-block;background:#f05d00;color:#fff;text-align:center;padding:5px 15px;}
a.imt img,a.imt button{position:relative;top:1px;}

/* page */
div.page{display:inline-block;}
div.page a{width:11px;padding:8px;display:inline-block;border:1px solid #d4d4d4;text-align:center;}
div.page a.on{background:#464646;border:1px solid #464646;color:#fff;}
div.page a:hover,div.page a:focus{background:#eaeaea;color:#666;border:1px solid #d4d4d4;}
/* form */
ul.ry1 li{float:left;margin-right:10px;}

/* cmd */
p.p1{margin-bottom:10px;letter-spacing:-1px;line-height:18px;}
.mb_10{margin-bottom:10px;}
.ml_5{margin-left:5px;}
.ml_8{margin-left:8px;}
.mr_5{margin-right:5px;}
.mr_7{margin-right:7px;}
.mb_20{margin-bottom:20px;}
.w_32{width:32px;}

/* 20130924추가 css */
.veiw_content{line-height:1.5;}
.veiw_content h3{margin-bottom:23px;}
.v_con{overflow:hidden; margin-bottom:80px;}
.v_con .thum_view{float:left; position:relative; margin-right:15px; margin-bottom:10px;}
.v_con .ex{float:left; width:455px;}
.bg_list li{background:url("/images/icon/arw_b.gif") no-repeat 0 4px; padding-left:8px;}
.bg_list li.bg_none{background:none;}
.mb01 li{margin-bottom:3px;}

.bg_list li.b01,.bg_list li.b02,.bg_list li.b03{position:absolute; background:none;}
.bg_list li.b01{right:0px; top:0px;}
.bg_list li.b02{top:456px; left:0px; width:351px;}
.bg_list li.b03{position:relative; margin-top:299px; margin-left:380px;}

/* 자료실 / 사진 */
.view_area01{border-top:2px solid #1b52a9; border-bottom:2px solid #1b52a9;  margin-bottom:20px;}
.view_area01 dl{overflow:hidden; border-bottom:1px solid #ddd; padding:10px 0px;;}
.view_area01 dl dt{float:left; width:120px; border:1px solid #ddd; margin-right:10px;}
.view_area01 dl dt.he01{height:85px;}
.view_area01 dl dt.he02{height:150px;}
.view_area01 dl dd{float:left;}
.view_area01 dl dd p.title{margin-bottom:8px;}
.view_area01 dl dd p.title a{font-weight:bold; font-size:1.2em; color:#1b52a9;}
.view_area01 dl dd ul{overflow:hidden;}
.view_area01 dl dd ul li{float:left; margin-right:10px;}
.view_area01 .movie{height:500px;}

.rader_list{overflow:hidden; margin-bottom:80px;}
.rader_list li{float:left; position:relative; bottom:0px; text-align:center;  margin-right:13px;}
.rader_list li.mt{margin-top:112px;}
.rader_list li.last{float:right; margin-top:0px; margin-right:0px;}
.rader_list li img{display:block; margin-bottom:10px;}

.bg_list02 li{padding-left:26px; margin-bottom:15px; background-position:0 5px; background-repeat:no-repeat; list-style:none;}
.bg_list02 li.n01{background-image:url("/images/icon/n01.gif");}
.bg_list02 li.n02{background-image:url("/images/icon/n02.gif");}
.bg_list02 li.n03{background-image:url("/images/icon/n03.gif");}
.bg_list02 li.n04{background-image:url("/images/icon/n04.gif");}
.bg_list02 li.n05{background-image:url("/images/icon/n05.gif");}
.bg_list02 li.n06{background-image:url("/images/icon/n06.gif");}
.bg_list02 li.n07{background-image:url("/images/icon/n07.gif");}
.bg_list02 li.n08{background-image:url("/images/icon/n08.gif");}

.sh_d01{background:url("/images/carc_04.gif") no-repeat right bottom;}
.sh_d02{background:url("/images/carc_02.gif") no-repeat left bottom;}
.sh_d03{background:url("/images/carc_03.gif") no-repeat right bottom; height:200px;}

/*용어*/

.ch_word{overflow:hidden; background:#f7f7f7; border:1px solid #d4d4d4; padding:10px 16px;}
.kne{float:left; width:54px; border:1px solid #d4d4d4; margin-right:10px;}
.kne a , .word a{display:block; float:left; padding:7px; background:#fff; color:#77f; border-left:1px solid #d4d4d4;}
.kne a.on{background:#245cb2; color:#fff; border-left:none;}
.word{float:left;}
.word a{margin-right:2px; border:1px solid #d4d4d4;}
.word a:hover{background:#eaeaea;}
.word a.on , .word a:focus{background:#464646; color:#fff;}

/* 용어 리스트 */

.word_list{border-top:2px solid #808082; margin-bottom:30px;}
.word_list dt{font-weight:bold; padding:12px; border-bottom:1px solid #dededf; background:#ececec;}
.word_list dd{padding:12px; border-bottom:1px solid #dededf;}

/* margin */
.mb{margin-bottom:50px;}
.mb0{margin-bottom:0px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb100{margin-bottom:100px;}
.mr10{margin-right:10px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mt20{margin-top:20px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}

/*padding*/

.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}

/*font*/
.f11{font-size:11px;}

/* 연혁  */
.history_tit{overflow:hidden; border-left:1px solid #c8c8c8; margin-bottom:30px; background:url("/images/bg/history_list .gif") right 0;}
.history_tit li{float:left; width:146px;}
.history_tit li a{display:block; padding:8px 0px; text-align:center; background:#f0f0f0; border-top:1px solid #c8c8c8; border-right:1px solid #c8c8c8; border-bottom:1px solid #c8c8c8;}
.history_tit li a.on{background:#fff; border-top:2px solid #4972b5; border-bottom:none;}
.hi_d{overflow:hidden; padding-top:30px; background:url("/images/bg/his_line.gif") repeat-y 70px 0px; position:relative;}
dl.last{padding-bottom:60px;}
.hi_d dt{float:left; width:92px;}
.hi_d dd{float:left; width:600px;  position:relative; top:-5px;}
.hi_d dd.his_icon{position:absolute; top:16px; left:61px; z-index:9;}
.hi_d dd.fir{top:16px;}
.hi_d dd ul li{overflow:hidden; margin-bottom:15px;}
.hi_d dd ul li strong{margin-right:20px; text-align:center; display:block; float:left; font-weight:bold; color:#67a4d6; font-size:1.4em;}
.hi_d dd ul li span{display:block; float:left; padding-top:4px; width:550px;}

/*비전*/
.vis_list02,.vis_list04{overflow:hidden;}
.vis_list02 li,.vis_list04 li{width:361px; float:left; margin-right:8px;}
.vis_list02 li ul li,.vis_list04 li ul li{width:auto; margin-right:0px; float:none;}
.vis_list02 li.last,.vis_list04 li.last{margin-right:0;}
.ul_list01,.ul_list02{border-left:4px solid #e3e3e3; border-right:4px solid #e3e3e3; border-bottom:4px solid #e3e3e3; height:300px; padding-top:25px;}
.ul_list02{height:524px; padding:25px 15px 0px 15px;}
.ul_list01 li{padding-left:13px; margin-bottom:15px; letter-spacing:-1px; background:url("/images/bg/li_dot.gif ") no-repeat 5px 6px;}
.ul_list03 li{padding-left:8px; margin-bottom:5px; background:url("/images/bg/li_dot.gif ") no-repeat 0px 3px;}
.bg01{background:url("/images/bg/bg_arw01.gif") no-repeat 50% 0;}
.bg02{background:url("/images/bg/bg_arw02.gif") no-repeat 50% 0;}
.org{background:url("/images/bg/or_bg.gif") no-repeat 0 20px;}
.vis_list02 ol{list-style:none;}
.vis_list02 li{width:361px;}
.vis_list04 li{width:177px; float:left;}
.vis_title{text-align:center;}
.org_ul{width:325px; border-bottom:1px solid #ddd; padding-bottom:20px;}

/* 영문 조직 [이근호 추가] 20131002 */
.org_list01{height:700px; padding:25px 15px 0px 15px; border-left:4px solid #e3e3e3; border-right:4px solid #e3e3e3; border-bottom:4px solid #e3e3e3; padding-top:25px;}
.org_ul_nb{width:325px; padding-bottom:20px;}

/* table 01 */
.table_area01{border-top:2px solid #808082; margin-bottom:100px;}
table.tbl_area01{width:100%;}
table.tbl_area01 thead th , table.tbl_area01 tbody th{background:#ececec; font-weight:bold; text-align:center; padding:12px 0px;}
table.tbl_area01 thead th{padding:12px 0px;  border-left:1px solid #bfbfbf; border-right:1px solid #ffffff; border-bottom:1px solid #bfbfbf;}
table.tbl_area01 thead th.first{border-left:none;}
table.tbl_area01 thead th.last{border-right:none;}
table.tbl_area01 tbody th{padding:10px 0px; border-right:1px solid #d0d0d1; border-bottom:1px solid #d0d0d1;}
table.tbl_area01 tbody td{text-align:center; padding:12px 0px; border-bottom:1px solid #e5e5e5;}
table.tbl_area01 tbody td.left{text-align:left; padding:10px 0 10px 10px;  border-right:none;}
table.tbl_area01 tbody td.rb{border-right:1px solid #e5e5e5;}
table.tbl_area01 tbody td.last{border-right:none;}
/* //table 01 */

.ck{background-color:#fafafa;}
.ck:focus{background-color:#fff;}
.se_option{background:#fafafa;}
.btn01,.btn02{border:none; background-position:0 0; background-repeat: no-repeat; text-indent:-9999px; width:71px; height:27px; display:inline-block;}
.btn01{background-image:url("/images/btn/ok2.gif"); background-color:#7a7c83;}
.btn02{background-image:url("/images/btn/can2.gif");  background-color:#f05d00;}

/*개인정보 방침*/
.blue{color:#1b52a9;}
.orange{color:#f05d00;}
.red{color:#ff0000;}
.po_area{border:1px solid #c8c8c8; padding:25px 25px 10px 25px;  background:url("/images/bg/operation_icon.gif") no-repeat 98% 70%;}
.po_area ol{overflow:hidden;}
.po_area ol li{width: 270px;}
.po_area ol li strong{font-weight:normal;}
.po_list li strong{font-weight:normal;}
.poll_bg{background:url("/images/bg/poll_icon.gif") no-repeat right 0;}
.web_bg{background:url("/images/bg/web_icon.gif") no-repeat right 0;}
.site_bg{background:url("/images/bg/site_icon.gif") no-repeat right 0; height:111px;}

/* 뷰어다운로드 */
.viewer{margin-bottom:100px;}
.viewer li dl{overflow:hidden; margin-bottom:12px;}
.viewer li dt{float:left; width:120px;}
.viewer li dt p{margin-bottom:10px;}
.viewer li dt a{display:block; padding-left:18px; background:url("/images/btn/down_btn.gif") no-repeat 0 2px;}
.viewer li dt a:hover,.viewer li dt a:focus{background:url("/images/btn/down_btn_on.gif") no-repeat 0 2px; color:#ee7530; text-decoration:underline;}
.viewer li dd{float:left; width:600px; padding-top:20px;}

/*사이트맵*/
.sitemap ul li{overflow:hidden;}
.sitemap dl{float:left; width:210px; margin-right:54px;}
.sitemap dl.mr_0{margin-right:0px;}
.sitemap dl dt{border-bottom:1px solid #ddd; background:url("/images/bg/site_top_line.gif") no-repeat 0 0; margin-bottom:15px;}
.sitemap dl dt a{display:block; padding:10px 10px;}
.sitemap dl ul li{margin-bottom:15px; padding-left:15px; background:url("/images/icon/site_arw.gif") no-repeat 3px 5px;}
.sitemap dl ul li a:hover{font-weight:bold; color:#1b52a9; text-decoration:underline;}
.sitemap dl ul li ul{background:#f6f6f6 url("/images/bg/site_sub_bg.gif") no-repeat right 100%; padding:10px 0px 5px 20px; margin-left:-15px; border-top:1px solid #d4d4d4; margin-top:5px;}
.sitemap dl ul li ul li{background:none; padding:0;}
.sitemap dl ul li ul li a{color:#666666;}
.sitemap dl ul li ul li a:hover{font-weight:bold; text-decoration:none; color:#666;}

.icon_bg01{background:url("/images/icon/arw_b.gif") no-repeat 0 50%; padding-left:10px;}

/* 에코종류 */
.eco_tit{overflow:hidden; margin-bottom:38px;}
.eco_tit dl{border:1px solid #c8c8c8;}
.eco_tit dl dt{background:#ededed; font-weight:bold; text-align:center; padding:8px 0px;  border-bottom:1px solid #c8c8c8;}
.eco_tit dl dd ul{overflow:hidden; background:#f8f8f8;}
.eco_tit dl dd ul li{float:left;}
.eco_tit dl dd ul li a{display:block; text-align:center; width:72px; border-right:1px solid #c8c8c8; padding:8px 0px;}
.eco_tit dl dd ul li a.on{border-top:2px solid #4770b4;padding:7px 0px; background:#fff; color:#4770b4; font-weight:bold;}
.eco_tit dl dd ul li a.last{border-right:0px;}
.eco_tit dl.eco_l{width:145px; float:left; margin-right:5px;}
.eco_tit dl.eco_r{width:583px; float:left;}
div.en ul li a{height:37px;display:block;background:url(/images/btn/lnb_en.png) 0 0 no-repeat;width:100%; border-bottom:#ddd;}

.eco_content{position:relative; margin-bottom:100px;}
.e_list01{height:730px;}
.e_list01 li{width:288px; margin-bottom:30px; overflow:hidden;}
.e_list01 li strong{float:left;}
.e_list01 li span{float:right; width:260px;}
.e_list01 li div{position:absolute; overflow:hidden;}
.e_list01 li div span{width:auto;}
.e_list01 li div.a01{width:439px; top:0px; right:0px;}
.e_list01 li div.a02{width:374px; top:389px; left:0px;}
.e_list01 li div.a03{width:355px; top:402px; right:0px;}
.map_link{position:relative; margin-bottom:80px; background:url("/images/korea_map.gif") no-repeat right 0;}
.map_list{position:relative; width:375px; height:347px;}
.map_list dl{position:absolute; width:375px; top:0px; left:0px;}
.map_list dt{background:#7094c9; text-align:center; padding:10px 0px; height:20px;}
.map_list dd{border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; height:245px; overflow:hidden; padding:32px 0px 32px 15px; background:#fff url("/images/bg/bg_arw01.gif") no-repeat 50% 0px;}
.map_list dd p{float:left; width:117px; margin-right:10px;}
.map_list dd div{float:left;}
.map_list dd div strong{display:block; margin-bottom:18px;}
.map_list dd div ul li{font-size:11px;}
.map_position{position:absolute; right:0px; top:0px;  width:324px; height:420px;}
.map_re{position:relative; max-width:100%; height:420px;}
.map_re li{position:absolute;}
.map_re li.ap01{top:172px; left:0px;}
.map_re li.ap02{top:144px; right:37px;}
.map_re li.ap03{top:206px; left:27px; z-index:9999;}
.map_re li.ap04{top:178px; right:17px;}
.map_re li.ap05{top:200px; left:44px; z-index:8888;}
.map_re li.ap06{top:266px; left:47px;}
.map_re li.ap07{top:247px; right:0px;}
.map_re li.ap08{top:333px; left:47px;}
.map_re li.ap09{top:293px; right:0px;}
.map_re li.ap10{bottom:40px; right:101px;}
.map_re li.ap11{bottom:0px; left:68px;}
.map_re li.ap12{bottom:115px; left:47px;}

.map_re li.ap_en_01{top:172px; left:-35px;}
.map_re li.ap_en_02{top:144px; right:8px;}
.map_re li.ap_en_03{top:202px; left:-6px; z-index:9999;}
.map_re li.ap_en_04{top:176px; right:1px;}
.map_re li.ap_en_05{top:200px; left:22px;}
.map_re li.ap_en_06{top:266px; left:34px;}
.map_re li.ap_en_07{top:227px; right:1px;}
.map_re li.ap_en_08{top:293px; right:0px;}
.map_re li.ap_en_09{top:330px; left:60px;}
.map_re li.ap_en_10{bottom:40px; right:90px;}
.map_re li.ap_en_11{bottom:0px; left:71px;}

/* 설문조사 */
.test_guide dt{background:#eaeaea; padding:12px 20px; font-weight:bold; margin-bottom:16px;}
.test_guide dd ul{overflow:hidden; padding-left:20px;}
.test_guide dd li{float:left; margin-right:126px;}
.test_guide dd textarea{width:100%; border:1px solid #d2d3d6; padding:0px;}

.s_m_btn01{border:none; width:71px; height:27px; background:url("/images/btn/list02.gif") no-repeat 0 0; text-indent:-9999px;}
.s_m_btn02{border:none; width:71px; height:27px; background:url("/images/btn/ok2.gif") no-repeat 0 0; text-indent:-9999px;}

/* adminstrative convergence */
.top_nav{overflow:hidden; border-left:1px solid #c8c8c8; margin-bottom:50px}
.top_nav li {float:left;}
.top_nav li a{display:block; background:#f0f0f0; text-align:center; padding:12px 25px; height:26px; border-top:1px solid #c8c8c8; border-right:1px solid #c8c8c8; border-bottom:1px solid #c8c8c8;}
.top_nav li a.on{font-weight:bold; background:#fff; border-top:2px solid #436db3; padding:12px 21px; color:#436db3; border-bottom:none;}
/* 
#ui-datepicker-div{z-index: 9999 !important; left:50% !important; width:236px; margin-left:-170px; line-height: 1.4;}
.ui_tpicker_hour table{margin-left:-5% !important;}
.ui_tpicker_minute table{margin-left:-7% !important;}
.ui-datepicker td {border: 0 none !important; padding: 1px !important; background: none !important;}
.ui-datepicker th {border: 0 none !important; font-weight: bold !important; padding: 0.7em 0.3em !important; text-align: center !important; background: none !important;}
 

.s_tion{border:2px solid #ebebeb; padding:10px; margin-bottom:20px;}
.ui_tpicker_hour{padding-bottom:20px; background:url("/images/bg/month_num.gif") no-repeat 0 10px;}
.ui-slider{margin:0 3px;}
.ui_tpicker_hour table{display: none;}
.ui_tpicker_minute{padding-bottom:20px; background:url("/images/bg/month_num_02.gif") no-repeat 0 10px;}
.ui_tpicker_minute table{display: none;}
*/