/* @charset "utf-8"; */
body,a{font-size:12px;color:#666;}
a,.cur_p{cursor:pointer}
a{text-decoration:none; cursor:pointer;color:#666}
a:link{text-decoration:none}
a:visited{text-decoration:none; color:#666}
a:hover,a:active,a:focus{text-decoration:none; color:#245bb1}
select{border:1px solid #d2d3d6;}
ol{list-style:none;}

body{min-width:970px; position: relative;}
/* #wrap{background:#fff;} */
#container{clear:both;}
#content{width:100%;}
#header{width:970px;margin:0 auto;position:relative;}
#container:after,#header:after,div.gnb ul li:after,div.lnb:after,div.sj:after,#footer div:after,#footer:after,div.btnA:after,div.sear:after{clear:both;content:'';display:block;}

/* sub */
h1.logo{text-align:center;padding:20px 0;}
div.top_link{position:absolute;right:10px;top:40px;}
