<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='전체 감시'">

	<th:block layout:fragment="content">

        <style type="text/css">
        .mainTbl tbody td {
            text-align: left;
            padding-left: 10px;
        }
        </style>
    
        <script type="text/javascript">
            var mems = [];
            mems.push(['2', '110', '김성원', '기상청', '레이더운영과', '주무관', '010-4658-5229']);
            mems.push(['2', '144', '김용제', '인탭', '유지보수업체', '', '010-9618-1205']);
            mems.push(['2', '143', '나기생', '인탭', '유지보수업체', '', '010-7353-9496']);
            mems.push(['2', '134', '남호진', '기상청', '레이더운영과', '주무관', '010-4613-2205']);
            mems.push(['2', '133', '박충신', '레이더운영과', '레이더운영과', '사무관', '010-2738-7539']);
            mems.push(['2', '156', '백승록', '기상청', '레이더운영과', '주무관', '010-6694-1364']);
            mems.push(['2', '53', '오창록', '기상청', '레이더운영과', '주무관', '010-4613-8677']);
            mems.push(['2', '160', '유충길', '기상청', '레이더운영과', '주무관', '010-9774-0010']);
            mems.push(['2', '142', '이승표', '기상청', '레이더운영과', '주무관', '010-9116-3178']);
            mems.push(['2', '159', '이종환', '기상청', '레이더운영과', '주무관', '010-2215-7654']);
            mems.push(['2', '138', '임병희', '기상청', '레이더운영과', '주무관', '010-2704-7408']);
            mems.push(['2', '97', '장복수', '기상청', '레이더운영과', '주무관', '010-2479-2685']);
            mems.push(['2', '96', '정시목', '코엠정보통신', '유지보수업체', '이사', '010-3300-9365']);
            mems.push(['2', '47', '정준석', '코엠정보통신', '유지보수업체', '대리', '010-8820-4829']);
            mems.push(['2', '140', '조민호', '코엠정보통싱', '유지보수업체', '대리', '010-7224-1905']);
            mems.push(['2', '112', '조수만', '코엠정보통신', '유지보수업체', '대표이사', '010-7235-9365']);
            mems.push(['2', '145', '최성호', '인탭', '유지보수업체', '', '010-2860-7962']);
            mems.push(['2', '141', '홍경화', '코엠정보통신', '유지보수업체', '', '010-4208-7098']);
            mems.push(['3', '110', '김성원', '기상청', '레이더운영과', '주무관', '010-4658-5229']);
            mems.push(['3', '122', '김지훈', '킴스앤', '유지보수업체', '책임기술자', '010-4249-4214']);
            mems.push(['3', '134', '남호진', '기상청', '레이더운영과', '주무관', '010-4613-2205']);
            mems.push(['3', '147', '노수명', '세인에스앤씨', '유지보수업체', '', '010-6277-6545']);
            mems.push(['3', '124', '노준상', '킴스앤', '유지보수업체', '참여기술자', '010-8518-6240']);
            mems.push(['3', '133', '박충신', '레이더운영과', '레이더운영과', '사무관', '010-2738-7539']);
            mems.push(['3', '156', '백승록', '기상청', '레이더운영과', '주무관', '010-6694-1364']);
            mems.push(['3', '123', '서현옥', '킴스앤', '유지보수업체', '참여기술자', '010-3745-6629']);
            mems.push(['3', '113', '신상창', '세인에스앤씨', '유지보수업체', '부장', '010-4264-7793']);
            mems.push(['3', '50', '오윤석', '세인에스앤씨', '유지보수업체', '대리', '010-9138-7513']);
            mems.push(['3', '53', '오창록', '기상청', '레이더운영과', '주무관', '010-4613-8677']);
            mems.push(['3', '160', '유충길', '기상청', '레이더운영과', '주무관', '010-9774-0010']);
            mems.push(['3', '142', '이승표', '기상청', '레이더운영과', '주무관', '010-9116-3178']);
            mems.push(['3', '159', '이종환', '기상청', '레이더운영과', '주무관', '010-2215-7654']);
            mems.push(['3', '153', '임무승', '킴스앤', '유지보수업체', '', '010-3370-6843']);
            mems.push(['3', '138', '임병희', '기상청', '레이더운영과', '주무관', '010-2704-7408']);
            mems.push(['3', '97', '장복수', '기상청', '레이더운영과', '주무관', '010-2479-2685']);
            mems.push(['3', '146', '조재욱', '세인에스앤씨', '유지보수업체', '', '010-8765-1276']);
            mems.push(['5', '154', '권두순', '기상청', '레이더운영과', '사무관', '010-4464-6988']);
            mems.push(['5', '117', '김경희', '기상청', '레이더운영과', '주무관', '010-7160-2959']);
            mems.push(['5', '158', '김성수', '기상청', '레이더운영과', '주무관', '010-6291-3978']);
            mems.push(['5', '139', '임덕빈', '기상청', '레이더운영과', '과장', '010-8287-7357']);
            mems.push(['5', '108', '전종혁', '기상청', '레이더운영과', '주무관', '010-9316-2113']);
        
            function fnGoList(){
                location.href="/manage/sms_send_result";
            }
            function fnSubmit(){
                if($("input[name='groups']:checked").length==0){
                    alert("문자를 수신받을 그룹을 선택해주세요.");
                    $("#check_groups_all").focus();
                    return false;
                }
                if($.trim($("#smsMsg").val()).length==0){
                    alert("문자 내용을 입력해주세요.");
                    $("#smsMsg").focus();
                    return false;
                }
                return true;
            }
            
            $(function() {
                $('a.btn').button();
                $( "#reqTime" ).timepicker();
                $( "#reqDate" ).datepicker({
            //		showOn: "button",
            //		buttonImage: "/images/calendar.gif",
            //		buttonImageOnly: true,
            //		buttonText: "Select date",
                    changeMonth: true,
                    changeYear: true,
                    prevText: '이전 달',
                    nextText: '다음 달',
                    monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
                    monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
                    dayNames: ['일','월','화','수','목','금','토'],
                    dayNamesShort: ['일','월','화','수','목','금','토'],
                    dayNamesMin: ['일','월','화','수','목','금','토'],
                    showMonthAfterYear: true,
                    yearSuffix: '년',
                    dateFormat: 'yy.mm.dd',
                    minDate: "+0D", 
                    maxDate: "+2Y"/*(new Date(2014, 11, 31)) /*"+1Y +1M +10D"*/
                });
            
                $("#check_groups_all").click(function(){
                    if($("#check_groups_all").prop("checked")){
                        $("input[name=groups]").prop("checked",true);
                    }else{
                        $("input[name=groups]").prop("checked",false);
                        if($("#check_groups_member").prop("checked")){
                            $("#check_groups_member").prop("checked",false);
                            $("tr#targetMembers>td").html("");
                            $("tr#targetMembers").hide();
                        }
                    }
                });
                
                $("#groupsCell input[name='groups']").click(function(e){
                    if($("#check_groups_member").prop("checked")){
                        if( e.target.checked ){
                            setGroupsMembers();
                        }
                        else{
                            if($("#groupsCell input[name='groups']:checked").length>0){
                                delGroupsMembers(e.target.value);
                            }
                            else{
                                $("#check_groups_member").prop("checked",false);
                                $("#check_groups_all").prop("checked",false);
                                $("tr#targetMembers>td").html("");
                                $("tr#targetMembers").hide();
                            }
                        }	
                    } 
                });
                
                $("#check_groups_member").click(function(){
                    if($("#check_groups_member").prop("checked")){
                        if($("input[name=groups]:checked").length>0){
                            $("tr#targetMembers").show();
                            setGroupsMembers();
                        }
                        else{
                            alert("선택된 그룹이 없습니다.");
                            $("#check_groups_all").focus();
                            $("#check_groups_member").prop("checked",false);
                        }
                    }else{
                        $("tr#targetMembers>td").html("");
                        $("tr#targetMembers").hide();
                    }
                });
                
                $("#setReqDateRSV").click(function(){
                    $("input[name=reqDate]").prop("disabled",false);
                    $("input[name=reqTime]").prop("disabled",false);
                });
                $("#setReqDateNOW").click(function(){
                    $("input[name=reqDate]").prop("disabled",true);
                    $("input[name=reqTime]").prop("disabled",true);
                });
            });
            function setGroupsMembers(){
                var groups = $("td#groupsCell input[name='groups']:checked");
                for(var i=0; i<groups.length; i++){
                    for(var j=0; j<mems.length; j++){
                        if( groups.eq(i).val() == mems[j][0] ){
                            makeGroupsMember(mems[j]);
                        }
                    }
                }
            }
            function makeGroupsMember(member){
                if(checkGroupsMember(member[1])){
                    var html = '<span id="member_'+ member[1] +'" style="margin-right:10px;white-space: nowrap;">'
                    + '<input type="checkbox" id="members_'+ member[1] +'" name="members" value="'+ member[1] +'" checked/>'
                    + '<label for="members_'+ member[1] + '" style="margin-right:10px"> '
                    + member[2] + ' ' + member[5] + ' (' + member[3] + ' ' + member[4] +')'
                    + '</label></span><br />';
                    $("tr#targetMembers>td").append(html);
                }
            }
            function checkGroupsMember(memid){
                var members = $("tr#targetMembers input[name='members']");
                for(var i=0; i<members.length; i++){
                    if(memid == members.eq(i).val()){
                        return false;
                    }
                }
                return true;
            }
            function delGroupsMembers(){
                $("tr#targetMembers input[name='members']").addClass("DO_DEL")
                $("td#groupsCell input[name='groups']:checked").each(function(){
                    for(var i=0; i<mems.length; i++){
                        if(mems[i][0] == $(this).val()){
                            $("tr#targetMembers input#members_"+mems[i][1]).removeClass("DO_DEL");
                        }
                    }
                });
                $("tr#targetMembers input.DO_DEL").each(function(){
                    $(this).parent().next("br").remove();
                    $(this).parent().remove();
                });
            }
        </script>
    
        <table class="noticeTbl searchSeries">
            <thead>
            <tr>
                <th class="left">
                    관리 &gt; 문자 발송 
                </th>
                <th class="right">
                </th>
            </tr>
            </thead>
        </table>
        
        <form action="sms_send_action.do" name="smsSend" id="smsSend" method="post" target="_self">
        <table class="mainTbl searchSeries" summary="">
            <caption class="hidden">문자 발송</caption>
            <colgroup>
                <col style="width:300px;">
                <col>
            </colgroup>
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="2">문자 수신 그룹<i class="fa fa-asterisk required_ico"></i></th>
                    <td>
                        <span style="margin-right:20px;"><input type="checkbox" id="check_groups_all" name="check_groups_all" value="all"><label for="check_groups_all"> 그룹 전체 선택</label></span>
                        <span style="margin-right:10px;"><input type="checkbox" id="check_groups_member" name="check_groups_member" value="member"><label for="check_groups_member"> 그룹 멤버 선택</label></span>
                    </td>
                </tr>
                <tr>
                    <td id="groupsCell">
                        <input type="hidden" name="check_groups" id="check_groups" value="">
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_2" name="groups" value="2"><label for="groups_2" style="margin-right:10px"> [1그룹] 관악 백령 광덕 면봉</label></span>
                        
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_3" name="groups" value="3"><label for="groups_3" style="margin-right:10px"> [2그룹] 오성 진도 구덕 고산 성산</label></span>
                        
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_4" name="groups" value="4"><label for="groups_4" style="margin-right:10px"> 관악산</label></span>
                        
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_5" name="groups" value="5"><label for="groups_5" style="margin-right:10px"> 전지점</label></span>
                        
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_6" name="groups" value="6"><label for="groups_6" style="margin-right:10px"> 구덕산</label></span>
                        
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_7" name="groups" value="7"><label for="groups_7" style="margin-right:10px"> 백령도</label></span>
                        
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_8" name="groups" value="8"><label for="groups_8" style="margin-right:10px"> 오성산</label></span>
                        
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_9" name="groups" value="9"><label for="groups_9" style="margin-right:10px"> 면봉산</label></span>
                        
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_10" name="groups" value="10"><label for="groups_10" style="margin-right:10px"> 강릉</label></span>
                        
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_11" name="groups" value="11"><label for="groups_11" style="margin-right:10px"> 성산,고산</label></span>
                        
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_12" name="groups" value="12"><label for="groups_12" style="margin-right:10px"> 광덕산</label></span>
                        
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_13" name="groups" value="13"><label for="groups_13" style="margin-right:10px"> 진도</label></span>
                        
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_14" name="groups" value="14"><label for="groups_14" style="margin-right:10px"> 네트워크 문자 수신</label></span>
                        
                        
                        <span id="" style="margin-right:10px;white-space: nowrap;"><input type="checkbox" id="groups_15" name="groups" value="15"><label for="groups_15" style="margin-right:10px"> 낙뢰</label></span>
                        
                        
                    </td>
                </tr>
                <tr id="targetMembers" style="display:none;">
                    <th>문자 수신 멤버</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>문자 내용<i class="fa fa-asterisk required_ico"></i></th>
                    <td>
                        <textarea id="smsMsg" name="smsMsg" rows="10" cols="50"></textarea>
                    </td>
                </tr>
                <tr>
                    <th rowspan="2">문자 발송 시각</th>
                    <td>
                        <input type="radio" checked="checked" name="setReqDate" value="NOW" id="setReqDateNOW"><label for="setReqDateNOW">즉시 전송 </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="setReqDate" value="RSV" id="setReqDateRSV"><label for="setReqDateRSV">예약 전송</label>
                        <input type="text" name="reqDate" id="reqDate" readonly="" value="2023.05.31" style="width: 90px;text-align: center;" disabled="" class="hasDatepicker">
                            <input type="text" name="reqTime" id="reqTime" readonly="" value="21:46" style="width: 70px;text-align: center;" disabled="" class="hasDatepicker">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <input type="submit" class="login_btn submit" value="전 송" onclick="return fnSubmit();">
                        <input type="reset" class="login_btn" value="다시 입력">
                        <input type="button" class="login_btn" value="문자 발송 대기 내역" onclick="fnGoList();return false;"> 
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
        <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
    </th:block>
</html>