<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='전체 감시'">

    <th:block layout:fragment="content">
        <script type="text/javascript">
        $(function() {
            $('.toggle').toggles();
            $('.toggle').on('toggle', function (e, active) {
                var targetId=e.target.id.replace("toggle","val");
                if (active) {
                    $("#"+targetId).val("true");
                } else {
                    $("#"+targetId).val("false");
                }
            });
            $('a.btn').button();
        });
        </script>
    
    <!-- <form action="sms_send_onoff_action.do" method="post" target="_self" id="searchDate" > -->
        <table class="noticeTbl searchSeries" >
            <thead>
            <tr>
                <th class="left">
                    관리 > 문자 발송 기능 ON/OFF 설정
                </th>
                <th class="right">
                    <input type="submit" value="설정저장"/>
                </th>
            </tr>
            </thead>
        </table>
        
        <table class="mainTbl searchSeries" summary="">
            <caption class="hidden">문자 발송 기능 ON/OFF 설정</caption>
            <colgroup>
                <col style="width:33%" />
                <col style="width:33%" />
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th>설정 대상</th>
                    <th>발신 여부</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="onOff : ${list.onOffData}">
                    <td>
                        <div th:if="${onOff.code} == 'STOPSMS'">장애 발생 시 문자 발송 기능 </div>
                        <div th:if="${onOff.code} == 'SCHEDUL'">서버 상태 확인 일일 정기 발송 기능 </div>
                    </td>
                    <td>
                        <div class="toggle toggle-light" th:id="${'toggle'+onOff.code}" th:data-toggle-on="${onOff.code}"></div>
                        <input type="hidden" th:id="${'val'+onOff.code}" th:name="${'val'+onOff.code}" th:value="${onOff.code}" />
                        <input type="hidden" name="codes" th:value="${onOff.code}" />
                    </td>
                </tr>
                <!-- <tr th:if="${list.onoffData.code} == 'SCHEDUL'">
                    <td>
                        서버 상태 확인 일일 정기 발송 기능 
                    </td>
                    <td>
                        <div class="toggle toggle-light" id="toggleSCHEDUL" data-toggle-on="${onoff.SCHEDUL}"></div>
                        <input type="hidden" id="valSCHEDUL" name="valSCHEDUL" value="${onoff.SCHEDUL}" />
                        <input type="hidden" name="codes" value="SCHEDUL" />
                    </td>
                </tr> -->
            </tbody>
        </table>
        <table class="noticeTbl searchSeries" >
            <thead>
            <tr>
                <th class="left">
                </th>
                <th class="right">
                    <input type="submit" value="설정저장"/>
                </th>
            </tr>
            </thead>
        </table>
    </th:block>
</html>