<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}"
      th:with="metaTitle='전체 감시'">

	<th:block layout:fragment="content">
        <style type="text/css">
        .mainTbl tbody td {
            text-align: left;
            padding-left: 10px;
        }
        </style>

        <script th:inline="javascript">
            /* <![CDATA[ */
                var members = /*[[${list.memberList}]]*/
                console.log(members);
                var groups = /*[[${list.groups}]]*/
                console.log(groups);

            /* ]]> */

            $(document).ready(function (){
                const mems = [];
                members.forEach(e => {
                    mems.push([e.gid.toString(), e.mid.toString(), e.name, e.organization, e.position, e.phone_num]);
                });

            function fnSubmit(){
                if($("input[name='groups']:checked").length==0){
                    alert("문자를 수신받을 그룹을 선택해주세요.");
                    $("#check_groups_all").focus();
                    return false;
                }
                if($.trim($("#smsMsg").val()).length==0){
                    alert("문자 내용을 입력해주세요.");
                    $("#smsMsg").focus();
                    return false;
                }
                return true;
            }
            
            $(function() {
                $('a.btn').button();
                $( "#reqTime" ).timepicker();
                $( "#reqDate" ).datepicker({
            //		showOn: "button",
            //		buttonImage: "/images/calendar.gif",
            //		buttonImageOnly: true,
            //		buttonText: "Select date",
                    changeMonth: true,
                    changeYear: true,
                    prevText: '이전 달',
                    nextText: '다음 달',
                    monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
                    monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
                    dayNames: ['일','월','화','수','목','금','토'],
                    dayNamesShort: ['일','월','화','수','목','금','토'],
                    dayNamesMin: ['일','월','화','수','목','금','토'],
                    showMonthAfterYear: true,
                    yearSuffix: '년',
                    dateFormat: 'yy.mm.dd',
                    minDate: "+0D", 
                    maxDate: "+2Y"/*(new Date(2014, 11, 31)) /*"+1Y +1M +10D"*/
                });
            
                $("#check_groups_all").click(function(){
                    if($("#check_groups_all").prop("checked")){
                        $("input[name=groups]").prop("checked",true);
                    }else{
                        $("input[name=groups]").prop("checked",false);
                        if($("#check_groups_member").prop("checked")){
                            $("#check_groups_member").prop("checked",false);
                            $("tr#targetMembers>td").html("");
                            $("tr#targetMembers").hide();
                        }
                    }
                });
                
                $("#groupsCell input[name='groups']").click(function(e){
                    if($("#check_groups_member").prop("checked")){
                        if( e.target.checked ){
                            setGroupsMembers();
                        }
                        else{
                            if($("#groupsCell input[name='groups']:checked").length>0){
                                delGroupsMembers(e.target.value);
                            }
                            else{
                                $("#check_groups_member").prop("checked",false);
                                $("#check_groups_all").prop("checked",false);
                                $("tr#targetMembers>td").html("");
                                $("tr#targetMembers").hide();
                            }
                        }	
                    } 
                });
                
                $("#check_groups_member").click(function(){
                    if($("#check_groups_member").prop("checked")){
                        if($("input[name=groups]:checked").length>0){
                            $("tr#targetMembers").show();
                            setGroupsMembers();
                        }
                        else{
                            alert("선택된 그룹이 없습니다.");
                            $("#check_groups_all").focus();
                            $("#check_groups_member").prop("checked",false);
                        }
                    }else{
                        $("tr#targetMembers>td").html("");
                        $("tr#targetMembers").hide();
                    }
                });
                
                $("#setReqDateRSV").click(function(){
                    $("input[name=reqDate]").prop("disabled",false);
                    $("input[name=reqTime]").prop("disabled",false);
                });
                $("#setReqDateNOW").click(function(){
                    $("input[name=reqDate]").prop("disabled",true);
                    $("input[name=reqTime]").prop("disabled",true);
                });
            });
            function setGroupsMembers(){
                var groups = $("td#groupsCell input[name='groups']:checked");
                for(var i=0; i<groups.length; i++){
                    for(var j=0; j<mems.length; j++){
                        if( groups.eq(i).val() == mems[j][0] ){
                            makeGroupsMember(mems[j]);
                        }
                    }
                }
            }
            function makeGroupsMember(member){
                if(checkGroupsMember(member[1])){
                    var html = '<span id="member_'+ member[1] +'" style="margin-right:10px;white-space: nowrap;">'
                    + '<input type="checkbox" id="members_'+ member[1] +'" name="members" value="'+ member[1] +'" checked/>'
                    + '<label for="members_'+ member[1] + '" style="margin-right:10px"> '
                    + member[2] + ' ' + member[5] + ' (' + member[3] + ' ' + member[4] +')'
                    + '</label></span><br />';
                    $("tr#targetMembers>td").append(html);
                }
            }
            function checkGroupsMember(memid){
                var members = $("tr#targetMembers input[name='members']");
                for(var i=0; i<members.length; i++){
                    if(memid == members.eq(i).val()){
                        return false;
                    }
                }
                return true;
            }
            function delGroupsMembers(){
                $("tr#targetMembers input[name='members']").addClass("DO_DEL")
                $("td#groupsCell input[name='groups']:checked").each(function(){
                    for(var i=0; i<mems.length; i++){
                        if(mems[i][0] == $(this).val()){
                            $("tr#targetMembers input#members_"+mems[i][1]).removeClass("DO_DEL");
                        }
                    }
                });
                $("tr#targetMembers input.DO_DEL").each(function(){
                    $(this).parent().next("br").remove();
                    $(this).parent().remove();
                });
            }
            });

            
        </script>

        <script type="text/javascript">
            function fnGoList(){
                location.href="/manage/sms_send_result";
            }
            
        </script>
    
        <table class="noticeTbl searchSeries">
            <thead>
            <tr>
                <th class="left">
                    관리 &gt; 문자 발송 
                </th>
                <th class="right">
                </th>
            </tr>
            </thead>
        </table>
        
        <form action="sms_send_action.do" name="smsSend" id="smsSend" method="post" target="_self">
        <table class="mainTbl searchSeries" summary="">
            <caption class="hidden">문자 발송</caption>
            <colgroup>
                <col style="width:300px;">
                <col>
            </colgroup>
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="2">문자 수신 그룹<i class="fa fa-asterisk required_ico"></i></th>
                    <td>
                        <span style="margin-right:20px;"><input type="checkbox" id="check_groups_all" name="check_groups_all" value="all"><label for="check_groups_all"> 그룹 전체 선택</label></span>
                        <span style="margin-right:10px;"><input type="checkbox" id="check_groups_member" name="check_groups_member" value="member"><label for="check_groups_member"> 그룹 멤버 선택</label></span>
                    </td>
                </tr>
                <tr>
                    <td id="groupsCell">
                        <input type="hidden" name="check_groups" id="check_groups" value="" />
                        <th:block th:each="groups, groupsStat : ${list.groups}" th:if="${groups.id > 1}">
                        <span id="" style="margin-right:10px;white-space: nowrap;">
                            <input type="checkbox" th:id="${'groups_'+groups.id}" name="groups" th:value="${groups.id}" />
                            <label th:for="${'groups_'+groups.id}" style="margin-right:10px" th:text="${groups.name}"></label>
                        </span>
                        <c:if test="${not groupsStat.last }"></c:if>
                        </th:block>
                        </c:forEach>
                    </td>
                </tr>
                <tr id="targetMembers" style="display:none;">
                    <th>문자 수신 멤버</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>문자 내용<i class="fa fa-asterisk required_ico"></i></th>
                    <td>
                        <textarea id="smsMsg" name="smsMsg" rows="10" cols="50"></textarea>
                    </td>
                </tr>
                <tr>
                    <th rowspan="2">문자 발송 시각</th>
                    <td>
                        <input type="radio" checked="checked" name="setReqDate" value="NOW" id="setReqDateNOW"><label for="setReqDateNOW">즉시 전송 </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="setReqDate" value="RSV" id="setReqDateRSV"/><label for="setReqDateRSV">예약 전송</label>
                        <input type="text" name="reqDate" id="reqDate" readonly th:value="${list.nowDate}" style="width: 90px;text-align: center;" disabled />
                         <input type="text" name="reqTime" id="reqTime" readonly th:value="${list.nowTime}" style="width: 70px;text-align: center;" disabled />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <input type="submit" class="login_btn submit" value="전 송" onclick="return fnSubmit();">
                        <input type="reset" class="login_btn" value="다시 입력">
                        <input type="button" class="login_btn" value="문자 발송 대기 내역" onclick="fnGoList();return false;"> 
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
        <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
    </th:block>
</html>