<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='전체 감시'">

	<th:block layout:fragment="content">
        <script type="text/javascript">
        $(function() {
            $('.toggle.pmt').toggles();
            $('.toggle.pmt').on('toggle', function (e, active) {
                var targetId=e.target.id.replace("pmt","pmi");
                if (active) {
                    $("#"+targetId).val("1");
                } else {
                    $("#"+targetId).val("0");
                }
            });
            $('.toggle.tz').toggles({
                text: {
                    on: 'UTC',
                    off: 'KST'
                }
            });
            $('.toggle.tz').on('toggle', function (e, active) {
                var targetId=e.target.id.replace("tzt","tzi");
                if (active) {
                    $("#"+targetId).val("U");
                } else {
                    $("#"+targetId).val("K");
                }
            });
        });
        </script>
    
        <!-- <form id="searchDate" modelattribute="receiveSettingForm" action="sms_set_rs_update.do" method="post" target="_self"> -->
        <input type="hidden" name="termStart" id="termStart">
        <input type="hidden" name="termClose" id="termClose">
        <table class="noticeTbl settingSeries">
            <thead>
            <tr>
                <th class="left">
                    관리 &gt; 자료 수신 감시 설정
                </th>
                <th class="right">
                    <input type="submit" value="설정저장">
                </th>
            </tr>
            </thead>
        </table>
        
        <table class="mainTbl settingSeries" summary="">
            <caption class="hidden">이벤트 문자 발송 설정</caption>
            <colgroup>
                <col style="width:50px" />
                <col style="width:180px" />
                <col style="width:70px" />
                <col />
                <col />
                <col style="width:70px" />
                <col style="width:70px" />
            </colgroup>
            <thead>
                <tr>
                    <th colspan="2">데이터 종류</th>
                    <th>시간대<br/> 설정</th>
                    <th>파일이름 패턴</th>
                    <th>파일이름 정규식 </th>
                    <th>누락처리<br/> 지연시간 </th>
                    <th>자료 감시<br/> 설정 </th>
                </tr>
            </thead>
            <tbody th:each="rsList, rsListStat : ${list.receiveSettingList}">
                <tr th:if="${rsList.permittedWatch} == 1">
                    <th colspan="7" th:if="${rsList.dataKind} == 'RDR'">
                        레이더
                    </th>
                    <th colspan="7" th:if="${rsList.dataKind} == 'LGT'">
                        낙뢰
                    </th>
                </tr>
                <tr th:if="${rsList.dataKind} != 'all'">
                    <td>
                        <input type="hidden" th:name="${'receiveSettings['+rsListStat.index+'].data_type'}" th:value="${rsList.dataType }" />
                        <input type="hidden" th:name="${'receiveSettings['+rsListStat.index+'].data_kind'}" th:value="${rsList.dataKind }" />
                        <div th:text="${rsList.dataType}"></div>
                    </td>
                    <td>
                        <input type="hidden" th:name="${'receiveSettings['+rsListStat.index+'].data_name'}" th:value="${rsList.data_name }" />
                        <div th:text="${rsList.data_name}"></div>
                    </td>
                    <td>
                        <div class="toggle toggle-light tz" th:id="${'tzt-'+rsListStat.index}" th:data-toggle-on="${rsList.time_zone == 'U' }"></div>
                        <input type="hidden" th:name="${'receiveSettings['+rsListStat.index+'].time_zone'}" th:id="${'tzi-'+rsListStat.index }" th:value="${rsList.time_zone }" />
                    </td>
                    <td>
                        <input type="text" th:name="${'receiveSettings['+rsListStat.index+'].filename_pattern'}" class="namePattern" th:value="${rsList.filename_pattern }" />
                    </td>
                    <td>
                        <input type="text" th:name="${'receiveSettings['+rsListStat.index+'].filename_regex'}" class="nameRegex" th:value="${rsList.filename_regex }" />
                    </td>
                    <td>
                        <input type="text" th:name="${'receiveSettings['+rsListStat.index+'].delay_tolerance'}" class="rccset" th:value="${rsList.delay_tolerance }" />분
                    </td>
                    <td>
                        <div class="toggle toggle-light pmt" th:id="${'pmt-'+rsListStat.index}" th:data-toggle-on="${rsList.permittedWatch }"></div>
                        <input type="hidden" th:name="${'receiveSettings['+rsListStat.index+'].permittedWatch'}"th:id="${'pmi-'+rsListStat.index}" th:value="${rsList.permittedWatch}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </th:block>
</html>