<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='경고 기준 설정'">

	<th:block layout:fragment="content">
        <script type="text/javascript">
        
        </script>
    
        <!-- <form action="/manage/sms_set_rcc_update" method="post" target="_self" id="searchDate"> -->
        <input type="hidden" name="termStart" id="termStart">
        <input type="hidden" name="termClose" id="termClose">
        <table class="noticeTbl searchSeries">
            <thead>
            <tr>
                <th class="left">
                    관리 &gt; 경고 기준 설정
                </th>
                <th class="right">
                    <input type="submit" class="btn btn_grayline" value="설정저장">
                </th>
            </tr>
            </thead>
        </table>

        <!-- <table class="mainTbl searchSeries" summary=""> -->
        <table class="table subTbl table-hover" summary="">
            <caption class="hidden">경고 기준 설정</caption>
            <colgroup>
                <col />
                <col />
            </colgroup>
            <thead class="subThead">
                <tr>
                    <th>구분</th>
                    <th>설정값</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="list : ${list.criteriaList}" th:if="${list.code} == 'NOTI'">
                    <td>
                        주의 기준
                    </td>
                    <td class="left">
                        자료가 연속으로 <input type="text" name="NOTI" id="NOTI" class="rccset" th:value="${list.criterion}"/>회 이상 자료가 미수신일 때
                    </td>
                </tr>
                <tr th:each="list : ${list.criteriaList}" th:if="${list.code} == 'WARN'">
                    <td>
                        경고 기준
                    </td>
                    <td class="left">
                        자료가 연속으로 <input type="text" name="WARN" id="WARN" class="rccset" th:value="${list.criterion}"/>회 이상 자료가 미수신일 때
                    </td>
                </tr>
                <tr th:each="list : ${list.criteriaList}" th:if="${list.code} == 'RETR'">
                    <td>
                        복구 기준
                    </td>
                    <td class="left">
                        주의 또는 경고 상태에서 자료가 연속으로 <input type="text" name="RETR" id="RETR" class="rccset" th:value="${list.criterion}"/>회 이상 자료가 수신되었을 때
                    </td>
                </tr>
                <tr th:each="list : ${list.criteriaList}" th:if="${list.code} == 'TOTA'">
                    <td>
                        네트워크 장애 기준
                    </td>
                    <td class="left">
                        전 사이트가 연속으로 <input type="text" name="TOTA" id="TOTA" class="rccset" th:value="${list.criterion}"/>회 이상 자료가 미수신일 때
                    </td>
                </tr>
                <tr th:each="list : ${list.criteriaList}" th:if="${list.code} == 'TORE'">
                    <td>
                        네트워크 복구 기준
                    </td>
                    <td class="left">
                        어느 한 사이트가 연속으로 <input type="text" name="TORE" id="TORE" class="rccset" th:value="${list.criterion}"/>회 이상 자료가 수신되었을 때
                    </td>
                </tr>
            </tbody>
        </table>
    </th:block>
</html>