<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='전체 감시'">

	<th:block layout:fragment="content">
        <script th:inline="javascript">
            /* <![CDATA[ */
                var mData = /*[[${list.smsSendPatternList}]]*/;
                console.log(mData);
            /* ]]> */
        </script>
        <script type="text/javascript">
            $(function() {
                $('.toggle').toggles();
                $('.toggle').on('toggle', function (e, active) {
                    var targetId=e.target.id.replace("toggle","activation");
                    if (active) {
                        $("#"+targetId).val("1");
                    } else {
                        $("#"+targetId).val("0");
                    }
                });
            });
        </script>
    
        <!-- <form action="/manage/sms_set_msg_update" method="post" target="_self" id="searchDate"> -->
        <input type="hidden" name="termStart" id="termStart">
        <input type="hidden" name="termClose" id="termClose">
        <table class="noticeTbl searchSeries">
            <thead>
            <tr>
                <th class="left">
                    관리 &gt; 문자 메시지 패턴
                </th>
                <th class="right">
                    <input type="submit" class="btn btn_grayline" value="설정저장">
                </th>
            </tr>
            </thead>
        </table>
        
        <!-- <table class="mainTbl searchSeries" summary=""> -->
        <table class="table subTbl table-hover" summary="">
            <caption class="hidden">문자 전송 메시지 패턴</caption>
            <colgroup>
                <col style="width:100px"/>
                <col />
            </colgroup>
            <thead class="subThead">
                <tr>
                    <th rowspan="2">구분</th>
                    <th colspan="2">설정값</th>
                </tr>
                <tr>
                    <th>정상 운영 상태</th>
                    <th>유지보수 상태</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td rowspan="2" th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'NOTI' && patternList.mode == 'RUN'}">
                        주의
                    </td>
                    <td th:each="patternList: ${list.smsSendPatternList}" th:if="${patternList.code == 'NOTI' && patternList.mode == 'RUN'}">
                        <div class="toggle toggle-light" id="toggle_NOTI_RUN" th:data-toggle-on="${patternList.activation }"></div>
                        <input type="hidden" name="NOTI_RUN_activation" id="activation_NOTI_RUN" th:value="${patternList.activation}" />
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'NOTI' && patternList.mode == 'MRO'}">
                        <div class="toggle toggle-light" id="toggle_NOTI_MRO" th:data-toggle-on="${patternList.activation }"></div>
                        <input type="hidden" name="NOTI_MRO_activation" id="activation_NOTI_MRO" th:value="${patternList.activation}" />
                    </td>
                </tr>
                <tr>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'NOTI' && patternList.mode == 'RUN'}">
                        <textarea name="NOTI_RUN" id="NOTI_RUN" class="msgPtn" th:text="${patternList.pattern }"></textarea>
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'NOTI' && patternList.mode == 'MRO'}">
                        <textarea name="NOTI_MRO" id="NOTI_MRO" class="msgPtn" th:text="${patternList.pattern }"></textarea>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'WARN' && patternList.mode == 'RUN'}">
                        경고
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'WARN' && patternList.mode == 'RUN'}">
                        <div class="toggle toggle-light" id="toggle_WARN_RUN" th:data-toggle-on="${patternList.activation }"></div>
                        <input type="hidden" name="WARN_RUN_activation" id="activation_WARN_RUN" th:value="${patternList.activation}" />
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'WARN' && patternList.mode == 'MRO'}">
                        <div class="toggle toggle-light" id="toggle_WARN_MRO" th:data-toggle-on="${patternList.activation }"></div>
                        <input type="hidden" name="WARN_MRO_activation" id="activation_WARN_MRO" value="${patternList.activation}" />
                    </td>
                </tr>
                <tr>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'WARN' && patternList.mode == 'RUN'}">
                        <textarea name="WARN_RUN" id="WARN_RUN" class="msgPtn" th:text="${patternList.pattern }"></textarea>
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'WARN' && patternList.mode == 'MRO'}">
                        <textarea name="WARN_MRO" id="WARN_MRO" class="msgPtn" th:text="${patternList.pattern }"></textarea>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'RETR' && patternList.mode == 'RUN'}">
                        복구
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'RETR' && patternList.mode == 'RUN'}">
                        <div class="toggle toggle-light" id="toggle_RETR_RUN" th:data-toggle-on="${patternList.activation }"></div>
                        <input type="hidden" name="RETR_RUN_activation" id="activation_RETR_RUN" th:value="${patternList.activation}" />
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'RETR' && patternList.mode == 'MRO'}">
                        <div class="toggle toggle-light" id="toggle_RETR_MRO" th:data-toggle-on="${patternList.activation }"></div>
                        <input type="hidden" name="RETR_MRO_activation" id="activation_RETR_MRO" th:value="${patternList.activation}" />
                    </td>
                </tr>
                <tr>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'RETR' && patternList.mode == 'RUN'}">
                        <textarea name="RETR_RUN" id="RETR_RUN" class="msgPtn" th:text="${patternList.pattern }"></textarea>
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'RETR' && patternList.mode == 'MRO'}">
                        <textarea name="RETR_MRO" id="RETR_MRO" class="msgPtn" th:text="${patternList.pattern }"></textarea>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'TOTA' && patternList.mode == 'RUN'}">
                        네트워크 장애
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'TOTA' && patternList.mode == 'RUN'}">
                        <div class="toggle toggle-light" id="toggle_TOTA_RUN" th:data-toggle-on="${patternList.activation }"></div>
                        <input type="hidden" name="TOTA_RUN_activation" id="activation_TOTA_RUN" th:value="${patternList.activation}" />
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'TOTA' && patternList.mode == 'MRO'}">
                        <div class="toggle toggle-light" id="toggle_TOTA_MRO" th:data-toggle-on="${patternList.activation }"></div>
                        <input type="hidden" name="TOTA_MRO_activation" id="activation_TOTA_MRO" th:value="${patternList.activation}" />
                    </td>
                </tr>
                <tr>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'TOTA' && patternList.mode == 'RUN'}">
                        <textarea name="TOTA_RUN" id="TOTA_RUN" class="msgPtn" th:text="${patternList.pattern }"></textarea>
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'TOTA' && patternList.mode == 'MRO'}">
                        <textarea name="TOTA_MRO" id="TOTA_MRO" class="msgPtn" th:text="${patternList.pattern }"></textarea>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'TORE' && patternList.mode == 'RUN'}">
                        네트워크 복구
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'TOTA' && patternList.mode == 'RUN'}">
                        <div class="toggle toggle-light" id="toggle_TORE_RUN" th:data-toggle-on="${patternList.activation }"></div>
                        <input type="hidden" name="TORE_RUN_activation" id="activation_TORE_RUN" th:value="${patternList.activation}" />
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'TOTA' && patternList.mode == 'MRO'}">
                        <div class="toggle toggle-light" id="toggle_TORE_MRO" th:data-toggle-on="${patternList.activation }"></div>
                        <input type="hidden" name="TORE_MRO_activation" id="activation_TORE_MRO" th:value="${patternList.activation}" />
                    </td>
                </tr>
                <tr>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'TORE' && patternList.mode == 'RUN'}">
                        <textarea name="TORE_RUN" id="TORE_RUN" class="msgPtn" th:text="${patternList.pattern }"></textarea>
                    </td>
                    <td th:each="patternList : ${list.smsSendPatternList}" th:if="${patternList.code == 'TORE' && patternList.mode == 'MRO'}">
                        <textarea name="TORE_MRO" id="TORE_MRO" class="msgPtn" th:text="${patternList.pattern }"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </th:block>
</html>