<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='사용자 생성/삭제'">

    <th:block layout:fragment="content">
        <script type="text/javascript">
            $(function() {
                $('a.btn').button();
            });
            function fnGoList(){
                location.href="admin_user.do";
            }
            function fnUserDel(){
                
                if(confirm("사용자를 삭제하시겠습니까?")){
                    location.href="admin_user_del.do?mode=D&uid="+$("#uid").val();
                }
            }
            function fnSubmit(){
                
                return false;
            }
        </script>

        <div id="contentMain">
            <table class="noticeTbl searchSeries">
                <thead>
                <tr>
                    <th class="left">
                        관리 &gt; 새로운 사용자
                    </th>
                    <th class="right">
                    </th>
                </tr>
                </thead>
            </table>
            
            <form id="userForm" modelattribute="userForm" action="admin_user_form_action" method="post" target="_self">
            <input type="hidden" name="mode" value="I">
            <table class="mainTbl searchSeries" summary="">
                <caption class="hidden">관리자 정보 수정</caption>
                <colgroup>
                    <col style="width:300px;">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>사용자 ID<i class="fa fa-asterisk required_ico"></i></th>
                        <td>
                            
                                
                                
                                    <input id="id" name="id" class="user_input" type="text" value="">
                                
                            
                            <input id="uid" name="uid" type="hidden" value="">
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호<i class="fa fa-asterisk required_ico"></i></th>
                        <td>
                            <input id="password" name="password" class="user_input" type="password" value="">
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호 확인<i class="fa fa-asterisk required_ico"></i></th>
                        <td><input id="password2" name="password2" class="user_input" type="password" value=""></td>
                    </tr>
                    <tr>
                        <th>사용자 등급<i class="fa fa-asterisk required_ico"></i></th>
                        <td>
                            <select id="level" name="level" class="user_input">
                                <option value="U">사용자</option>
                                <option value="A">관리자</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>성명<i class="fa fa-asterisk required_ico"></i></th>
                        <td><input id="name" name="name" class="user_input" type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>직책</th>
                        <td><input id="pos" name="pos" class="user_input" type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>부서</th>
                        <td><input id="dept" name="dept" class="user_input" type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>소속</th>
                        <td><input id="org" name="org" class="user_input" type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td><input id="phone" name="phone" class="user_input" type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>E-Mail</th>
                        <td><input id="email" name="email" class="user_input" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            
                                
                                    <input type="submit" class="login_btn submit" value="생 성">
                                
                                
                            
                            <input type="reset" class="login_btn" value="다시 입력">
                            
                            <input type="button" class="login_btn" value="리스트" onclick="fnGoList();return false;">
                        </td>
                    </tr>
                </tbody>
            </table>
            </form>
        </div>


    </th:block>
</html>