<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='사용자 관리'">

    <th:block layout:fragment="content">
        <div id="contentMain">
            <table class="noticeTbl settingSeries">
                <thead>
                <tr>
                    <th class="left">
                        관리 &gt; 사용자 관리
                    </th>
                    <th class="right">
                        <form action="/users/admin_user_form?" method="get">
                            <input type="hidden" name="mode" value="I">
                            <input type="submit" class="btn btn_grayline" value="새로운 사용자">
                        </form>
                    </th>
                </tr>
                </thead>
            </table>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            
            <table class="mainTbl settingSeries" summary="">
                <caption class="hidden">사용자 관리</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>성명</th>
                        <th>등급</th>
                        <th>직책</th>
                        <th>부서</th>
                        <th>소속</th>
                        <th>연락처</th>
                        <th>E-Mail</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mlist : ${list.membersList}">
                        <td th:text="${mlist.memberId}"></td><!-- id -->
                        <td th:text="${mlist.memberName}"></td><!-- 성명 -->
                        <td th:text="${mlist.memberClass == 'A' ? '관리자' : '사용자'}"></td><!-- 등급 -->
                        <td ></td><!-- 직책 -->
                        <td ></td><!-- 부서 -->
                        <td ></td><!-- 소속 -->
                        <td ></td><!-- 연락처 -->
                        <td ></td><!-- e-mail -->
                        <td>
                            <a class="btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" th:href="'/users/admin_user_form?id='+${mlist.id}" role="button">
                                <span class="ui-button-text">관리</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </th:block>
</html>