<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='사용자 관리'">

    <th:block layout:fragment="content">
        <div id="contentMain">
            <table class="noticeTbl settingSeries">
                <thead>
                <tr>
                    <th class="left">
                        관리 &gt; 사용자 관리
                    </th>
                    <th class="right">
                        <form action="/users/admin_user_form" method="get">
                            <input type="hidden" name="mode" value="I">
                            <input type="submit" class="btn btn_grayline" value="새로운 사용자">
                        </form>
                    </th>
                </tr>
                </thead>
            </table>
            
            <table class="mainTbl settingSeries" summary="">
                <caption class="hidden">사용자 관리</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>성명</th>
                        <th>등급</th>
                        <th>직책</th>
                        <th>부서</th>
                        <th>소속</th>
                        <th>연락처</th>
                        <th>E-Mail</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>radar</td>
                        <td>레이더</td>
                        <td>
                            
                                관리자
                                
                            
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a class="btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" href="admin_user_form" role="button"><span class="ui-button-text">관리</span></a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            
        </div>
    </th:block>
</html>