<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='전체 감시'">

<!-- 현재 화면에서만 사용하는 css -->
<!--<th:block layout:fragment="css">-->
<!--  <link rel="stylesheet" type="text/css" href="main.css"/>-->
<!--</th:block>-->

<!-- 현재 화면에서만 사용하는 js -->
<!--<th:block layout:fragment="script">-->
<!--  <script src="main.js"></script>-->
<!--</th:block>-->

<div class="container">
  <th:block layout:fragment="content">
    <div class="alertMap">
      <div class="map"><img src="images/map.png" alt="지도"/></div>
      <!-- <c:forEach var="station" items="${stationRdrList}">
      <c:choose>
        <c:when test="${conditionMap[station.site_cd]['NQC'].recv_condition eq 'MRO'}">
          <c:set value="MRO" var="siteCondition" />
        </c:when>
        <c:when test="${netErr.recv_condition eq 'TOTA'}">
          <c:set value="TOTA" var="siteCondition" />
        </c:when>
        <c:otherwise>
          <c:set value="${conditionMap[station.site_cd]['NQC'].recv_condition}" var="siteCondition" />
        </c:otherwise>
      </c:choose>
      <div class="radar ${station.site_cd } ${siteCondition}" id="${station.site_cd }">
        <div><a href="station/${station.site_cd}.do">${station.name_kr}</a></div>
      </div>
      </c:forEach> -->
    </div>
  </th:block>
</div>
</html>