<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}"
      th:with="metaTitle='메뉴 등록'">

<!-- 현재 화면에서만 사용하는 css -->
<!--<th:block layout:fragment="css">-->
<!--  <link rel="stylesheet" type="text/css" href="main.css"/>-->
<!--</th:block>-->

<!-- 현재 화면에서만 사용하는 js -->
<!--<th:block layout:fragment="script">-->
<!--  <script src="main.js"></script>-->
<!--</th:block>-->

<div class="container">
  <th:block layout:fragment="content">
    <div class="container">
        <form class="form-signin" method="post" action="/menu/save">
          <p>
            <label for="menu1" class="sr-only">메뉴1</label>
            <input type="text" id="menu1" name="menu1" class="form-control" placeholder="지점별감시" required autofocus>
          </p>
          <p>
            <label for="menu2" class="sr-only">메뉴2</label>
            <input type="text" id="menu2" name="menu2" class="form-control" placeholder="대형레이더" required autofocus>
          </p>
          <p>
            <label for="menu3" class="sr-only">메뉴3</label>
            <input type="text" id="menu3" name="menu3" class="form-control" placeholder="백령도">
          </p>
          <!-- <input name="_csrf" type="hidden" value="8bd08385-d775-4060-85d8-74e43a503e7e" /> -->
          <button class="btn btn-lg btn-primary btn-block" type="submit">저장</button>
        </form>
  </th:block>
</div>
</html>