<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='전체 감시'">

    <th:block layout:fragment="content">
		<script th:inline="javascript">
            /* <![CDATA[ */
                var rdrSet = /*[[${rdrSet}]]*/;
                console.log(rdrSet);
            /* ]]> */
        </script>
        <script type="text/javascript">
            $(document).ready(function(){
                var toDay = new Date();
                var str1 = toDay.getFullYear()+'년 '+(toDay.getMonth()+1)+'월 '+toDay.getDate()+'일';
                
                $('#datePick').val(str1);
                //window.setInterval("reloadWarning()",60000);
            });
            $(function() {
                $( "#datePick" ).datepicker({
                    showOn: "button",
                    buttonImage: "/images/calendar.gif",
                    buttonImageOnly: true,
                    buttonText: "Select date",
                    changeMonth: true,
                    changeYear: true,
                    prevText: '이전 달',
                    nextText: '다음 달',
                    monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
                    monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
                    dayNames: ['일','월','화','수','목','금','토'],
                    dayNamesShort: ['일','월','화','수','목','금','토'],
                    dayNamesMin: ['일','월','화','수','목','금','토'],
                    showMonthAfterYear: true,
                    yearSuffix: '년',
                    dateFormat: 'yy년 mm월 dd일',
                    minDate: (new Date(2009, 1 - 1, 1)), maxDate: "+0D"/*(new Date(2014, 11, 31)) /*"+1Y +1M +10D"*/
                });
            });
            var searchDate = function(){
                var selDate = $("#datePick").val().replace(/ |년|월|일/g, "");
                $("#termClose").val(selDate+"2350");
                $("#termStart").val(selDate+"0000");
                $("#searchDate").submit();
            };
        </script>
        
        <form action="" method="post" target="_self" id="searchDate">
			<input type="hidden" name="termStart" id="termStart"/>
			<input type="hidden" name="termClose" id="termClose"/>
			<table class="noticeTbl searchSeries">
			<colgroup>
				<col style="width:auto;"/>
				<col style="width:130px;"/>
				<col style="width:100px;"/>
			</colgroup>
				<thead>
				<tr>
					<th class="left">
						과거자료 검색 > <span class="radar" th:text="${siteName+' 레이더'}"></span>
					</th>
					<th class="center">
						<label for="datePick" class="hidden">년월일 선택</label>
						<input type="text" value="" id="datePick" readonly />
					</th>
					<th class="right">
                        <button class="btn">검색</button>
						<!-- <img src="/images/search_icon.png" class="ui-datepicker-search" onclick="javascript:searchDate();"/></th> -->
				</tr>
				</thead>
			</table>
			</form>
			
			<table class="mainTbl searchSeries" summary="">
				<caption class="hidden" th:text="${siteName+' 레이더'}"></caption>
				<colgroup>
					<col />
					<th:block th:each="rdrs : ${rdrSet}">
						<col style="width:36px" />
						<col style="width:129px"/>
					</th:block>
				</colgroup>
				<thead>
					<tr>
						<th rowspan="2" width="500">시간</th>
						<th th:each="rdrs : ${rdrSet}" colspan="2" width="500">
							<span th:text="${rdrs.data_name.replace('레이더','')}"></span>
							<br />
							<span th:text="${'('+rdrs.dataType+')'}"></span>
						</th>
					</tr>
				</thead>
				<tbody>
					<c:set var="forEnd" value="${fn:length(recvData[0])-1 }" />
					<c:if test="${forEnd < 0 }">
						<c:set var="forEnd" value="0" />
					</c:if>
					<c:forEach begin="0" end="${forEnd}" varStatus="idx">
					<tr>
						<td>
							<fmt:formatDate value="${recvData[0][idx.index].data_time }" pattern="yyyy.MM.dd HH:mm"/>
						</td>
						<c:forEach var="rdrs" items="${rdrSet }" varStatus="jdx">
						<td>
							<!-- <div class="recv RECV" title="수신"></div> -->
							<div class="recv ${recvData[jdx.index][idx.index].recv_condition }" title="${recvAlt[recvData[jdx.index][idx.index].recv_condition] }"></div>
						</td>
						<!-- <td>2017.07.01 23:50</td> -->
						<td>
							<c:choose>
								<c:when test="${not empty recvData[jdx.index][idx.index].recv_time }">
									<fmt:formatDate value="${recvData[jdx.index][idx.index].recv_time }" pattern="yyyy.MM.dd HH:mm"/>
								</c:when>
								<c:otherwise>-
								</c:otherwise>
							</c:choose>
						</td>
						</c:forEach>
					</tr>
					</c:forEach>
				</tbody>
			</table>
    </th:block>
</html>