@charset "utf-8";
/* html,body{width:100%;height:100%} */
html{overflow-y:scroll}
/* body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0} */
form,fieldset{border:0;margin:0;padding:0;}
/* body,input,textarea,select,button,table,th,td{font-family:'굴림','Gulim','돋움',Dotum,Helvetica,AppleGothic,sans-serif;font-size:12px;line-height:18px;color:#4b4b4b} */
/* ol,ul,li{list-style: none;} */
img{border:0 none;}
/* table { */
	/* border-collapse:collapse; */
	/* border-radius: 8px; */
/* } */
input, button {vertical-align:middle;}

a {color: #006FBB; text-decoration: none;}
/* a:hover { text-decoration: underline; color: #006FBB; } */

.hidden, .blind {visibility: hidden; display: none;}
caption{visibility: hidden; display: none;}

#header {width:1100px;margin:0 auto;height: 45px;position: relative;}
#header h1 {display: inline;position: absolute; background:url('../images/logo.png') no-repeat; width: 133px; height: 45px; }
#header h1 img {width: 139px;height: 39px; visibility: hidden;}
#gnb {position: absolute; left:139px;top:6px;right:0px;display:inline; height:75px; overflow:hidden;}
#gnb_menu {height: 39px;} 
.sitemap_menu {margin-left:10px;}/*{position: absolute; right: 320px;top: 2px; padding: 9px 11px;color:#efefef; font: bold 13px Arial;} */
.service_menu {position: absolute;right: 4px;top: 3px;}
ul.service_menu li {float: left; font-size: 11px; color: #efefef; }
ul.service_menu a {color:#efefef}

.allmenu_map {display:none; position: absolute; left: 144px; top: 43px; width: 951px; height: 230px; z-index:300;background:url('../images/all_menu.png') no-repeat;background-position: 0px -68px;}
.allmenu_map .mid {width:100%; height:100%; overflow: hidden;}
.allmenu_map .amu1 {width: 100%; height: 281px; margin-top: 16px}
.allmenu_map .aml1 {float: left;width: 135px;font-weight: bold;font-size: 13px;text-align: center;}
.allmenu_map .tm {border-bottom: 1px solid #b9b9b9;padding: 6px;width: 123px;margin: 0px auto;}
.allmenu_map .tm.last {width: 128px;}
.allmenu_map .amu2 {padding-top: 3px;height: 179px;border-right: 1px solid #b0b0b0;}
.allmenu_map .amu2.last {width:140px;}
.allmenu_map .aml2 {font-size: 13px;font-weight: normal;text-align: left;margin: 10px 0px 10px 10px; padding: 0px 0px 5px 15px; background: url(../images/blue_arrow.gif) no-repeat; background-position: 0px 4px;}
.allmenu_map .amu2.last {border-right: none;}
.allmenu_map .close {position: absolute;right: 4px;top: 3px;border: 1px solid #EFEFEF;cursor :pointer;}


#container {width:1100px; height: 100%; margin:0 auto;}

#sidebar {float:left;width: 139px; height: 100%; position:relative;left: 0px;top: 0px; }
#sidebar h2 {
	font-size: 13px;
	font-weight: bold;
	padding-top: 4px;
	text-align: center; width: 124px; height: 24px; 
	background: url(../images/menu_title.png) no-repeat 0 0; 
	margin: 5px 0px 10px 10px; 
}

#lnb {margin-left: 10px; overflow: hidden; width: 125px; font-size: 12px;}
li.lnb_group {margin-bottom: 5px; padding: 1px;}
li.lnb_group span.title {margin-left: 3px; font-weight: bold;}

.lnb_group_box {border-style: solid; border-width: 1px; border-color: #5A5A5A; padding:0px;}
.lnb_group_box li {padding: 2px 2px 2px 4px;background-color: #FAFAD2;}
.lnb_group_box li.head {border-style:none none solid none; border-width: 1px; border-color: #5A5A5A;}
.lnb_group_box li.head_new {border-style:solid none solid none; border-width: 1px; border-color: #5A5A5A;}
.lnb_group_box li.body {border-style:none none solid solid; border-width: 1px; border-color: #5A5A5A; margin-left: 8px;}
.lnb_group_box li.tail {border-style:none none none solid; border-width: 1px; border-color: #5A5A5A; margin-left: 8px;}
.lnb_group_box li.on {background-color: #0D67B8 /*#ffc846 #FF6633*/; color: #FFFFFF; font-weight: bold;} /* #C50505*/
.lnb_group_box li a {color: #000; text-decoration: none;}
.lnb_group_box li.on a {color: #FFF; } 
.lnb_group_box li a:hover { text-decoration: underline; color: #006FBB; }

#qbar {width: 125px; height:190px; margin: 10px 0 0 10px;}
#qmenu {padding: 1px; width:125px;}
#qmenu .title {height: 31px; background:url("../images/quickmenu_hd.png") no-repeat; }
#qmenu .contents {height: 150px; background: url("../images/quickmenu_bd.png") no-repeat  0px -120px; }
#qmenu .contents ul {
    padding: 10px;
}
#qmenu .contents li {
	font-size: 12px;
    display: block;
	background: url(../images/bl_grayarrow.gif) no-repeat;
	background-position: 4px 6px;
	padding-left: 14px;
	margin-bottom: 10px;
}
#qmenu .label {
    font-weight: bold;
    color: #999999;
}

#contents {position: relative; float: right; width: 955px; right: 3px;}

#snb {position: relative; width: 100%; height: 42px; top: 9px; font-size: 12px;}
#snb .time_bar {float: left; top: 5px; left: 0; height: 22px; position: relative; background-color: #FFFFFF;/* border: solid 1px #000000*/}
#snb .time_bar li {float: left; /* margin: 1px; */ padding: 0.1em 0.5em;}
#snb .time_bar .title {background-color: #78a9ed /*#7878FF /*#3232FF/*#646EFF/*#C8C8FF*/;color: #fff;font-weight: bold;border-style: solid;border-width: 1px;border-color: #A8A8A8;}
#snb .time_bar .time {/* background-color: #FFEFFF; */ cursor: pointer;border-style: solid solid solid none;border-width: 1px;border-color: #A8A8A8;}
#snb .time_bar .time_on {background-color: #FFCAD5 /*#D2D2FF /*#B4B4FF /*#FFC8FF /*#FFB4FF /*#C8C8FF*/; cursor: pointer;;border-style: solid solid solid none;border-width: 1px;border-color: #A8A8A8;
color: #999999;
font-weight: bold;}
#snb .time_bar .off {background-color: #EFEFEF; cursor: auto;}
#snb .time_bar  .day {background-color: #78a9ed /*#7878FF /*#3232FF/*#646EFF/*#C8C8FF*/;color: #fff;font-weight: bold;border-style: solid;border-width: 1px;border-color: #A8A8A8;}

#snb .date_bar {float: left; top: 5px; left: 0; height: 22px; position: relative; background-color: #FFFFFF; border: solid 1px #000000; margin-right: 12px;}
#snb .date_bar li {float: left; margin: 1px; padding: 0.1em 0;}
#snb .date_bar #datePick {height: 16px; border: 1px solid #abcdef; background: #57C2E9; margin: 0 1px; vertical-align: middle;text-align: center;width: 9em;}
#snb .date_bar img {height: 18px; vertical-align: middle; }
#snb .date_bar button {height: 18px; }

#snb .time_control {float: right; position: absolute; top: 5px; right: 1px; border-left: 1px #A8A8A8 solid;}
#snb .time_control li {float: left; padding: 0.1em 0.5em; background-color: #FDF5DC; cursor: pointer; border: 1px #A8A8A8 solid; border-left: none;}
#snb .time_control li.on {background-color: #86C300; color: #fff; border: 1px #A8A8A8 solid; border-left: none;}

#content_info {position: relative; width: 100%; height: 26px; top: 5px;font-size: 12px;}
#content_info ul {height: 22px; border: solid 1px #B0B0B0;}
#content_info li {float: left; padding: 2px 10px 2px 10px; background-color: #FFFFFF; border-right: solid 1px #B0B0B0;}
#content_info li.last {float: right; border-right: none; border-left: solid 1px #B0B0B0;}

#contents.wide {position: relative; float: right; width: 1000px;}


#widebar {float:left; width: 100%; height: 42px; position: relative; left:0px; top:0px;}
#widebar h2 {
	float: left; 
	font-size: 13px; font-weight: bold; 
	padding-top: 4px; 
	background: url(../images/menu_title.png) no-repeat 0 0;
	text-align: center; height: 24px; width: 124px; 
	margin: 5px 0px 10px 10px; 
}
#widebar .content_info {position: relative; float: right; width: 955px; right: 2px; height: 22; top: 5px; border: solid 1px #B0B0B0;font-size: 12px;}
/*{position: absolute ; float: left; height: 24px; top: 5px; left: 139px;  border: solid 1px #5A5A5A; width: 960px;}*/
#widebar .content_info li {float: left; padding: 2px 10px 2px 10px; border-right: solid 1px #B0B0B0; }
#widebar .content_info li.last {float: right; border-right: none; border-left: solid 1px #B0B0B0;}

/*
#widebar .time_bar {position: absolute ; float: left; height: 24px; top: 5px; left: 139px;  border: solid 1px #5A5A5A;}
#widebar .time_bar li {float: left; padding: 2px 10px 2px 10px; background-color: #FFFFFF; border-right: solid 1px #5A5A5A; }
#widebar .time_bar .title {background-color: #A237Ea;}
#widebar .time_bar .time {background-color: #eda32c;}
#widebar .time_bar .time_on {background-color: rgb(69, 255, 69)}
*/

#widebar .time_bar {float: left; top: 5px; left: 6px; height: 22px; position: relative; background-color: #FFFFFF;/* border: solid 1px #000000*/}
#widebar .time_bar li {float: left; /* margin: 1px; */ padding: 0.1em 0.5em;}
#widebar .time_bar .title {background-color: #78a9ed /*#7878FF /*#3232FF/*#646EFF/*#C8C8FF*/;color: #fff;font-weight: bold;border-style: solid;border-width: 1px;border-color: #A8A8A8;}
#widebar .time_bar .time {/* background-color: #FFEFFF; */ cursor: pointer;border-style: solid solid solid none;border-width: 1px;border-color: #A8A8A8;}
#widebar .time_bar .time_on {background-color: #FFCAD5 /*#D2D2FF /*#B4B4FF /*#FFC8FF /*#FFB4FF /*#C8C8FF*/; cursor: pointer;;border-style: solid solid solid none;border-width: 1px;border-color: #A8A8A8;
color: #999999;
font-weight: bold;}
#widebar .time_bar .off {background-color: #EFEFEF; cursor: auto;}
#widebar .time_bar .day {background-color: #78a9ed /*#7878FF /*#3232FF/*#646EFF/*#C8C8FF*/;color: #fff;font-weight: bold;border-style: solid;border-width: 1px;border-color: #A8A8A8;}

#widebar .time_control {float: right; position: absolute; top: 5px; right: 1px; /* background-color: #FFFFFF; border: solid 1px #000000 */
border-style: none none none solid;
border-width: 1px;
border-color: #5A5A5A; }
#widebar .time_control li {float: left; /* margin: 1px; */ padding: 0.1em 0.5em; background-color: #FDF5DC; cursor: pointer;border-style: solid solid solid none;border-width: 1px;border-color: #5A5A5A;}
#widebar .time_control li.on {/* background-color: #ffc846;*/ background-color: #86C300;color: #fff;border-style: solid solid solid none;border-width: 1px;border-color: #5A5A5A;}



#content {overflow: visible;}
#content.typhoon {padding-left:135px; position: relative; top: -10px;}
#content.wintemKor {padding-left:90px;}
#content.satKoreaLocal {padding-left:110px;}
#content.llwas {margin-top:18px;}

#contentPdf {width: 95%; height: 1100px; margin: 2em auto; }
#contentWide {width: 95%; margin: 0.2em auto 1em auto;}
#contentWide.warn {margin: 0.2em auto 1em 143px;}
#contentWide.sigmet {margin: 0.2em auto 1em 143px;width: 950px;}
#contentWide.acw {margin: 0.2em auto 1em; width: 1083px; float: right;}

.amosTbl {border:1px solid #838383; width:100%} 
.amosTbl th, .amosTbl td{border:1px solid #838383; text-align: center; padding: 1px 2px; }
.amosTbl thead th {background: url(../images/tbl_head_bar1.png) repeat-x;
background-size: 10px 66px;
background-position: 0px -3px;
border-top: 1px solid #0046a6;
border-bottom: 1px solid #0046a6;
/*background-color: #ADBE36*/}
.amosTbl thead th.row1 {border:1px solid #838383;border-top: 1px solid #0046a6;}
.amosTbl thead th.row2 {border:1px solid #838383;background-position: 0px -24px;}
.amosTbl thead th.row2.b {border-bottom: 1px solid #0046a6;}
.amosTbl thead th.row3 {border:1px solid #838383;border-bottom: 1px solid #0046a6;background-position: 0px -45px;}
.amosTbl .stdRwy {background-color: #B4CDE6}
.amosTbl .useRwy {background-color: #E07F27}
.amosTbl .newAirport {border-top-style: solid; border-top-width: 2px;border-top-color: #D0D0D0;}
.amosTbl .alt {background: rgba(212, 237, 255, 0.5);}
.amosTbl .over{background-color: #FAFAD2}
.amosTbl tbody th {background-color: #FFFFFF}
.amosTbl tbody .alt th {background-color: rgb(212, 237, 255);}
.amosTbl .amosW1 {font-weight: bold; color: #00F}
.amosTbl .amosW2 {font-weight: bold; color: #F00}

.amosCtrl_metar_div {
	position: relative;
	width: 830px;
	float: left;
	background-color: #ffffff;
	margin-top : 10px; 
	padding: 4px;
	padding-left: 7px;
	border: 4px solid #8AC007;
	font-size: 14px;
	font-family: "tahoma", "Consolas","courier new";
	border-radius: 4px;}
.amosCtrl_metar_div .metar {display: block; margin: 2px auto; }
.amosCtrl_metar_div .local {display: block; margin: 2px auto;}
.amosCtrl_metar_div .taf {display: block; margin: 2px auto;}

.amosCtrl_index_view {margin-top : 10px; margin-bottom: 10px; width:830px; position: relative; float: left;}
.amosCtrl_index_view ul li {float: left; }
.amosCtrl_index_view .main_rwy_btn {height:12px; width:15px; background: #2e70b6;border-radius: 3px;border: #707070 1px;}
.amosCtrl_index_view .use_rwy_btn {height:12px; width:15px; background: #FF6633;border-radius: 3px;border: #707070 1px; margin-left: 10px}
.amosCtrl_index_view fieldset {float: left; border: none }
.amosCtrl_index_view input {height: 20px;}

.amosCtrl_rwy_div {clear: both; margin:5px 0 0 23px; width: 830px; position: relative;}
.amosCtrl_rwy_div img {vertical-align: middle; width: 702px; height: 28px; }
.amosCtrl_rwy_div img.off {margin-left: 13px;margin-right: 13px;}

.amosCtrl_tbl1_div {clear: both;text-align: center;width: 845px;height: 45px;margin: 5px 0; position: relative;}
.amosCtrl_tbl1_div ul li {float: left;}
.amosCtrl_tbl1_div ul li.last {float: right;}
.amosCtrl_tbl1 { width: 115px;font-size: 11px;margin: 20px 0 0 80px; }
.amosCtrl_tbl1 thead td.start {color: #ffffff;font-weight: bold;height: 24px;background: #83b034;border-top: 1px solid #388142;border-bottom: 1px solid #388142;border-left: 1px solid #388142;}
.amosCtrl_tbl1 thead td.end {color: #555555;height: 20px;background: #ffffff;border-top: 1px solid #388142;border-bottom: 1px solid #388142;border-right: 1px solid #388142;border-left: 1px solid #388142;}
.amosCtrl_tbl1 .amosW1 {font-weight: bold; color: #00F}
.amosCtrl_tbl1 .amosW2 {font-weight: bold; color: #F00}

.amosCtrl_tbl2_div {clear: both;text-align: center;position: relative;font-size: 11px;height: 115px; /* margin-left: 20px; */}
.amosCtrl_tbl2 { float: left; margin: 10px 0 20px 10px; width: 85px; font-size: 12px;}
.amosCtrl_tbl2 thead th.start {color: #ffffff; font-weight: bold;height: 20px;background: #f57a20;border-top: 1px solid #ff3c00;border-bottom: 1px solid #f47111;border-left: 1px solid #f47111;border-right: 1px solid #f47111;}
.amosCtrl_tbl2 thead th.start2 {color: #555555; height: 20px;background: #fff2e8;border-top: 1px solid #f47111;border-bottom: 1px solid #f47111;border-right: 1px solid #f47111;border-left: 1px solid #f47111;}
.amosCtrl_tbl2 thead td.end2 {color: #555555;height: 20px;background: #ffffff;border-top: 1px solid #f47111;border-bottom: 1px solid #f47111;border-right: 1px solid #f47111;border-left: 1px solid #f47111;}
.amosCtrl_tbl3 {float: left; margin: -15px 0 20px 10px; width: 230px; font-size: 12px;}
/*       */
.amosCtrl_tbl3 thead tr th.start{color:#ffffff; height:20px; background:#628fcc; border-top:1px solid #0046a6; border-bottom:1px solid #2e65b0; border-left:1px solid #2e65b0; border-right:1px solid #2e65b0}
.amosCtrl_tbl3 thead td.end{color:#555555; height:20px;background:#628fcc; border-top:1px solid #0046a6; border-bottom:1px solid #2e65b0; border-right:1px solid #2e65b0; border-left:1px solid #2e65b0}
.amosCtrl_tbl3 thead td.start2{color:#ffffff; height:20px;background:#628fcc; border-top:1px solid #2e65b0; border-bottom:1px solid #2e65b0; border-left:1px solid #2e65b0;line-height:1.5}
.amosCtrl_tbl3 thead td{color:#555555; height:20px;background:#ffffff; border-top:1px solid #2e65b0; border-bottom:1px solid #2e65b0; border-left:1px solid #2e65b0;border-right:1px solid #2e65b0}
.amosCtrl_tbl3 thead td.end2{color:#555555; height:20px;background:#ffffff; border-top:1px solid #2e65b0; border-bottom:1px solid #2e65b0; border-right:1px solid #2e65b0; border-left:1px solid #2e65b0}
.amosCtrl_tbl3 thead th.blue{color:#ffffff; height:20px;background:#2e65b0; border-top:1px solid #2e65b0; border-bottom:1px solid #c2c2c2; border-left:1px solid #c2c2c2; border-right:1px solid #c2c2c2}
.amosCtrl_tbl3 thead tr th.white{color:#ffffff; height:20px; background:#ffffff; border-top:1px solid #0046a6; border-bottom:1px solid #2e65b0; border-left:1px solid #2e65b0; border-right:1px solid #2e65b0}
.amosCtrl_tbl3 .amosW1 {font-weight: bold; color: #00F}
.amosCtrl_tbl3 .amosW2 {font-weight: bold; color: #F00}
/*       */
.amosCtrl_tbl4{float:left;margin: -15px 0 20px 10px;*margin:15px 0 20px 10px;width:160px;font-size:12px}
.amosCtrl_tbl4 thead th.start{color:#0046a6; height:20px;background:#ecf0f7; border-top:1px solid #0046a6; border-bottom:1px solid #a4a4a4; border-left:1px solid #a4a4a4; border-right:1px solid #a4a4a4}
.amosCtrl_tbl4 thead td.end{color:#555555; height:20px;background:#628fcc; border-top:1px solid #0046a6; border-bottom:1px solid #2e65b0; border-right:1px solid #2e65b0; border-left:1px solid #2e65b0}
.amosCtrl_tbl4 thead td.start2{color:#0046a6; height:20px;background:#ecf0f7; border-top:1px solid #0046a6; border-bottom:1px solid #a4a4a4; border-left:1px solid #a4a4a4;line-height:1.5}
.amosCtrl_tbl4 thead td{color:#555555; height:20px;background:#ffffff; border-top:1px solid #a4a4a4; border-bottom:1px solid #a4a4a4; border-left:1px solid #a4a4a4;border-right:1px solid #a4a4a4}
.amosCtrl_tbl4 thead td.end2{color:#555555; height:20px;background:#ffffff; border-top:1px solid #2e65b0; border-bottom:1px solid #a4a4a4; border-right:1px solid #a4a4a4; border-left:1px solid #a4a4a4}
/*       */
.btn_blue{color:#ffffff; background:url('../images/btn_blue.gif') no-repeat; width:45px; height:27px; text-align:center;font-weight:bold;border:0px solid #ffffff; font-size:13px}
.btn_white{color:#2e70b6; background:url('../images/btn_white.gif') no-repeat; width:45px; height:27px; text-align:center;font-weight:bold;border:0px solid #ffffff;font-size:13px}
/*       */
.windCircle1 {width: 100px;height: 100px;display: block;position: relative;}
.windCircle1 img {position: absolute; top: 0px; left: 0px; width: 100px; height: 100px; }

.metar_tbl {width:100%; margin: 10px auto; border: 1px solid #838383 }
.metar_tbl td, .metar_tbl th{border:1px solid #838383; font-size: 1.1em; padding: 4px 4px 4px 4px;}
.metar_tbl thead th {background-color: #006FBB; color: #FFFFFF; font-size: 1.2em; padding-top: 3px; padding-bottom: 3px;}
.metar_tbl tbody th, .metar_tbl tbody td {}
.metar_tbl .stn {text-align: left; }
.metar_tbl .type {text-align: center; }
.metar_tbl .msg {text-align: left; }
.metar_tbl .msg_cla {text-align: left; padding-left: 10px;}
.metar_tbl .speci {background: #FFAFB7;}
.metar_tbl .over {background-color: #FAFAD2;}

.stcs_tbl {width:100%; margin: 10px auto; border: 1px solid #838383;}
.stcs_tbl td, .stcs_tbl th{border:1px solid #838383; font-size: 1em; padding: 4px 4px 4px 4px;}
.stcs_tbl thead th {background-color: #006FBB; color: #FFFFFF; font-size: 1em; padding-top: 3px; padding-bottom: 3px;}
.stcs_tbl tbody th, .stcs_tbl tbody td {text-align: center; }

.ars_tbl {width:100%; margin: 36px auto 0; border: 1px solid #838383;}
.ars_tbl td, .ars_tbl th{border:1px solid #838383; font-size: 1em; padding: 4px 4px 4px 4px;}
.ars_tbl thead th {background-color: #006FBB; color: #FFFFFF; font-size: 1em; padding-top: 3px; padding-bottom: 3px;}
.ars_tbl tbody th, .ars_tbl tbody td {text-align: center; }
.ars_tbl input {text-align: center; height: 22px;}
.ars_tbl .text2 {width: 30px;}
.ars_tbl .text3 {width: 40px;}
.ars_tbl .text4 {width: 50px;}
.ars_tbl .text5 {width: 60px;}
.ars_tbl .text6 {width: 70px;}
.ars_tbl .text7 {width: 80px;}
.ars_tbl .text20 {width: 160px;}
.ars_tbl #MSG_TEXT {width: 400px; height: 5em; padding-left: 0.4em;
font-family: verdana; font-size: 1.5em; line-height: 1.6em;}
/**
 * ARS LIST
 */ 
.ars_top_list_board {margin: 43px auto 0; width: 100%;}
.ars_tbl_list_board {margin: 0 auto; width: 100%; border-top: solid 3px #5B73C3;}
.board_footer#ars_list_footer {padding: 0px; width: 100%;margin: 0 auto;position: relative;}

.arsListTbl {width:100%; border:solid 1px #808080;border-spacing:0px;}
.arsListTbl thead th {height: 28px; background: url(../images/tbl_head_bar1.png) repeat-x; background-position: 0px -1px; }
.arsListTbl thead th.row1 {background-size: 10px 62px;background-position: 0px -3px; border-bottom: 1px solid #CFCFCF;}
.arsListTbl thead th.row2 {background-size: 10px 62px;background-position: 0px -3px;}
.arsListTbl thead th.row3 {background-size: 10px 62px;background-position: 0px -32px;}
.arsListTbl tbody td {height: 35px; text-align: center }
.arsListTbl td,
.arsListTbl th {font-size:12px; border-left: 1px solid #CFCFCF; border-right: 1px solid #CFCFCF;}
.arsListTbl tbody td.msg {text-align:left; width:270px; padding: 1px 0px 1px 3px;}


/**
 *
 */
.userlist_tbl {width:100%; margin: 10px auto; border: 1px solid #838383;}
.userlist_tbl td, .userlist_tbl th{border:1px solid #838383; font-size: 1em; padding: 4px 4px 4px 4px;}
.userlist_tbl thead th {background-color: #78a9ed; color: #FFFFFF; font-size: 1em; padding-top: 3px; padding-bottom: 3px;}
.userlist_tbl tbody th, .userlist_tbl tbody td {text-align: center; }
.userlist_tbl .over {background-color: #FAFAD2;}

.useradd_tbl {width:100%; margin: 60px auto 15px auto; border: 1px solid #838383; padding-top: 20px;}
.useradd_tbl td, .useradd_tbl th{border:1px solid #838383; font-size: 1em; padding: 4px 4px 4px 4px;}
.useradd_tbl thead th {background-color: #78a9ed; color: #FFFFFF; font-size: 1em; padding-top: 3px; padding-bottom: 3px;}
.useradd_tbl tbody th {text-align: center; }
.useradd_tbl tbody td {text-align: left; padding-left: 10px;}
.useradd_tbl input  {height: 18px; width: 130px; padding-right: 2px;}
.useradd_tbl select {height: 18px; width: 8em; }
.useradd_tbl button {height: 24px; margin:1px;}

/*
.amosTbl {border:1px solid #838383} 
.amosTbl th, .amosTbl td{border:1px solid #838383; text-align: center; padding: 1px 2px; }
.amosTbl thead th {background-color: #ADBE36}
.amosTbl .stdRwy {background-color: #B4CDE6}
.amosTbl .useRwy {background-color: #E07F27}
*/

#content_div {clear:both;}

.content_left {position: relative; float: left; top: 0px; left: 0px; width: 500px;}
.content_right {position: relative; float: left; left: 25px; width: 430px; }
.content_right caption, .content_left caption {visibility: visible; display: table-caption; text-align: left; font-weight: bold;;}
.content_right table, .content_left table {float:left; width:100%; font-size:12px}
.content_left thead th, .content_right thead th {color:#0046a6; height:20px;background:url(../images/tbl_head_bar1.png) repeat-x; background-position: 0px -2px;background-size:10px 58px; border-top:1px solid #0046a6; border-bottom:1px solid #a4a4a4; border-left:1px solid #a4a4a4; border-right:1px solid #a4a4a4;}
.content_left thead th.row2,.content_right thead th.row2{height:48px;}
.content_left thead th.row1,.content_right thead th.row1{background-position: 0px -29px;}
.content_left tbody td, .content_right tbody td {color:#555555; height:20px;background:#ffffff; border:1px solid #a4a4a4; text-align: center;}
.content_right .std {text-align: left;}

.content_left#sigmet {margin-bottom:20px;}

.content_bottom {}

#content_img {/*width:100%*/}
#content_img.sat_koreaLocal {}
#content_img.sat_korea {width:75%}
#content_img.sat_asia {width:75%}
#content_img.sat_global {width:74%}
#content_img.forecast0 {width:100%}
#content_img.forecast1 {width:90%}
#content_img.wintemKor{width:75%}
#content_img.wintemWafs{width:100%}
#content_img.sigwx{width:100%}
.content_img_sigmet{width:100%}
.llwas_map{margin-top: 23px;}

.llwas_notation{position:relative; right:0px; top: -37px; float:right; }
.llwas_notation ul {border: 1px solid #333; width: 125px; height: 35px; background: #fff;}
.llwas_notation li {padding-left: 5px; }
.llwas_notation button {width:20px; height:10px; margin-right: 5px; border: 1px solid #808080; }
.llwas_notation .mba { background: #f00;  }
.llwas_notation .wsa { background: #ff0;  }

/**
 * TDWR WARN Table
 */
.tdwrWTbl {margin: 10px 0px; width:880px; border:solid 1px #a4a4a4; }
.tdwrWTbl td, .tdwrWTbl th {border:solid 1px #a4a4a4; padding: 2px; text-align: center;}
.tdwrWTbl thead th {height:20px;background:url(../images/tbl_head_bar1.png) repeat-x; background-position: 0px -2px; background-size: 10px 37px;border-top:1px solid #0046a6;}
.tdwrWTbl tbody td {height:25px;}
.tdwrWTbl caption {visibility: visible;display: table-caption;text-align: left;font-weight: bold;font-size: 13px;}

/**
 *
 */
.sigTbl {margin: 10px auto 5px; width: 950px;}
.sigTbl table {border:solid 1px #a4a4a4;width: 100%}
.sigTbl td, .sigTbl th {border:solid 1px #a4a4a4; padding: 0.5em; text-align: center; }
.sigTbl thead th {height:20px;background:url(../images/tbl_head_bar1.png) repeat-x; background-position: 0px -2px; background-size: 10px 37px;border-top:1px solid #0046a6;}
.sigTbl tbody td {height:28px;}
.sigTbl .msg {text-align:left}
.sigTbl thead .title {letter-spacing: 1em;}
.sigTbl .over {background:#FAFAD2;}
/**
 *
 */
.sigLegend {border:solid 1px #a4a4a4;width: 300px}
.sigLegend td, .sigTbl th {border:solid 1px #a4a4a4; padding: 0.5em; text-align: center; }
.sigLegend thead th {height:20px;background:url(../images/tbl_head_bar1.png) repeat-x; background-position: 0px -2px; background-size: 10px 37px;border-top:1px solid #0046a6;}
.sigLegend tbody td {height:28px;}
.sigLegend td img.big {height:30px;}
.sigLegend td div {width: 40px; height: 2px; margin: 0 auto;}

.amosCtrl_tbl1 td, .amosCtrl_tbl2 td, .amosCtrl_tbl3 td, .amosCtrl_tbl4 td,
.amosCtrl_tbl1 th, .amosCtrl_tbl2 th, .amosCtrl_tbl3 th, .amosCtrl_tbl4 th
 {font-family: "굴림","바탕체","arial";font-size: 10.5pt; font-weight: bold}

/**
 * 공항기상정보 
 */ 
/* 뷰 레이어 */
.tbl_view_board {margin: 62px auto 0px;/*20px 140px;*/ width: 950px;}
.tbl_view_board table {border:solid 1px #a4a4a4;width: 100%}
.tbl_view_board td, .tbl_view_board th {border:solid 1px #a4a4a4; padding: 0.5em 1em; }
.tbl_view_board .top {height:20px;background:url(../images/tbl_head_bar1.png) repeat-x; background-position: 0px -1px; background-size: 10px 34px;border-top:1px solid #0046a6;}
.tbl_view_board .content {font-size:14px;}
/* 리스트 상단 페이지 수 레이어 */
.top_list_board {margin: 44px auto 0; /*0 auto 0 140px;*/ width: 950px;}
/* 리스트 레이어 */
.tbl_list_board {margin: 0 auto;/* 0 140px;*/ width: 950px;}
.tbl_list_board table {border:solid 1px #a4a4a4;width: 100%}
.tbl_list_board td, .tbl_list_board th {border:solid 1px #a4a4a4; padding: 0.5em 1em; font-size: 1.2em;}
.tbl_list_board thead th {height:20px;background:url(../images/tbl_head_bar1.png) repeat-x; background-position: 0px -2px; background-size: 10px 37px;border-top:1px solid #0046a6;}
.tbl_list_board tbody td {height:28px;}
.tbl_list_board .num {text-align:center}
.tbl_list_board .title {padding-left:1em;}
.tbl_list_board .date {text-align:center}
.tbl_list_board thead .title {letter-spacing: 1em;}
/* 게시판 푸터 레이어 */ 
.board_footer {/*padding-left: 140px;*/width: 950px;margin: 0 auto;position: relative;}
.board_footer .paging {position: relative; margin: 0px auto; width: 800px;}
.board_footer .board_btn {position: relative; }
.board_footer .paging ul {width: 800px; display: inline-block;margin: 0px auto;}
.board_footer .paging li.first {z-index: 100; }
.board_footer .paging li.prev {left: 10px; position: relative; z-index: 100; }
.board_footer .paging li.center {width: inherit;position: absolute;}
.board_footer .paging li.next {float:right; right: 130px; position: absolute; z-index: 100; }
.board_footer .paging li.last {float:right; right: 0px; position: absolute; z-index: 100; }
.board_footer li {float:left; margin-left: 0.2em; margin-right: 0.2em; text-align: center;}

/**
 * 접속통계용
 */
.adminStat {}
/* 전체기간 메뉴별 */
.adminStat #totalPie {margin: 20px auto 10px 20px; width: 500px; height: 400px; position: relative; float: left;}
.adminStat #totalTable {margin: 80px auto 10px 20px; position: relative; float: left; }
.adminStat #totalTable table {margin: 10px auto;}
.adminStat #totalTable thead th {background-color:#78a9ed; color: #FFF;}
.adminStat #totalTable td {padding: 3px 20px; border:1px solid #838383; text-align: center; }
.adminStat #totalTable th {padding: 3px 4px; border:1px solid #838383; text-align: center; }
/* 연간 월별 메뉴별 */
.adminStat #monthLine {margin: 20px auto 10px 30px; width: 900px; height: 400px; position: relative; float: left;}
.adminStat #monthTable {margin: 10px auto 10px 10px; position: relative; float: left;}
.adminStat #monthTable table {margin: 10px auto;}
.adminStat #monthTable thead th {background-color:#78a9ed; color: #FFF;}
.adminStat #monthTable td {padding: 3px; border:1px solid #838383; text-align: center; }
.adminStat #monthTable th {padding: 3px 4px; border:1px solid #838383; text-align: center; }
.adminStat #monthTable col.month {width:61px;}
.adminStat #monthTable col.title {width:80px;}
/* 연도별 메뉴별 */
.adminStat #yearLine {margin: 20px auto 10px 30px; width: 900px; height: 400px; position: relative; float: left;}
.adminStat #yearTable {margin: 10px auto 10px 10px; width: 900px; position: relative; float: left;}
.adminStat #yearTable table {width: 100%; margin: 10px auto;}
.adminStat #yearTable thead th {background-color:#78a9ed; color: #FFF;}
.adminStat #yearTable td {padding: 3px; border:1px solid #838383; text-align: center; }
.adminStat #yearTable th {padding: 3px 4px; border:1px solid #838383; text-align: center; }
.adminStat #yearTable col.month {width:61px;}
.adminStat #yearTable col.title {width:80px;}


#footer {width:1100px;  margin:0 auto;position: relative;  clear: both; padding-top: 30px;}
#footer #in {position:relative;height:91px;margin-top:10px;padding:13px 11px 0 21px;background:url(../images/_footer/bg_footer.gif) no-repeat 0 0}
#footer #in h2{overflow:hidden;position:absolute;top:46px;left:40px;width:124px;height:34px;background:url(../images/_footer/logo_footer.gif) no-repeat 0 0;text-indent:-5000px}
#footer #in .link{overflow:hidden;position:relative;padding:0 13px 11px 11px;border-bottom:1px solid #e4e4e4}
#footer #in .link li{float:left;margin-right:21px;padding-right:24px;background:url(../images/_footer/bu_link_footer.gif) no-repeat 100% 2px}
#footer #in .link li a{display:block;overflow:hidden;height:13px;background:url(../images/_footer/txt_link_footer.png) no-repeat 0 0;text-indent:-5000px}
#footer #in .link li.i01 a{width:82px;background-position:0 0}
#footer #in .link li.i02 a{width:88px;background-position:0 -15px}
#footer #in .link li.i03 a{width:61px;background-position:0 -30px}
#footer #in .link li.i04 a{width:82px;background-position:0 -45px}
#footer #in .link li.i05 a{width:42px;background-position:0 -60px}
#footer #in .link li.i06 a{width:70px;background-position:0 -75px}
#footer #in .link li.i07{margin-right:15px}
#footer #in .link li.i07 a{width:62px;background-position:0 -90px}
#footer #in .link li.i08 a{width:10px;background-position:0 -104px}
#footer #in .link li.i09,#footer .link li.i10{float:right;margin:0 0 0 9px}
#footer #in .link li.i09 a{width:33px;background-position:0 -134px}
#footer #in .link li.i10 a{width:50px;background-position:0 -119px}
#footer #in .link li.bg_none{padding-right:0;background:none}
#footer #in .con{margin:10px 0 0 199px;font-size:11px;line-height:13px;color:#898989}
#footer #in .con strong{color:#636363}


/*로그인*/
.login_wrap {position:relative; width:100%; background:#646464;}
.login {position:relative; width:100%; height:900px; background:url(../images/logins/login_background.png) no-repeat center top;}

.login_box {width:520px; margin:0 auto; padding-top:200px; padding-bottom:320px;}
.login_box .box_bg {position:relative; background:url(../images/logins/login_box_mid_bg.png); /*filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity:0.9; opacity:0.9;*/}
.login_box .box_bg ul {width:300px; margin:0 auto;}
.login_box .box_bg ul li {padding:5px 0;}
.login_box .box_bg .login_btn {position:absolute;top:60px; right:110px;}
.login_box .box_bg .member_btn {padding:10px 0 10px 0; text-align:center;}
.login_box .box_bg .login_message {color: #FF023C;}
.login_box .box_bg .admin_message {color: #344667; margin: 0px 20px;}
.login_box .box_bg .foot_txt {margin-top:20px; border-top:1px solid #ccc; padding:20px 0; text-align:center;}
.login_box .login_input {margin-left:15px; background:#f9f9f9;border:1px solid #d9d9d9;padding:3px 4px; vertical-align:middle; color:#333; width:150px;}
.login_box .bottom_area {background:url(../images/logins/login_box_bottom_bg.png); text-align:right;}
.login_box .bottom_area p {padding: 10px 20px;}
.login_box .mid_text {text-align: center; margin: 0 auto; padding: 20px 0px;}

/*로그인_컨텐츠*/
.login .con_area {position:absolute; margin-left:auto; margin-right:auto; left: 0; right: 0; top:640px;}
.login .con_area ul{}
.login .con_area ul li {display:inline-block; padding:0 10px;}

/*로그인_footer */
#login_footer {clear:both;position:relative;width:100%;height:100px;background:#fcfcfc; border-top:1px solid #2a2723;}
#login_footer .up {overflow:hidden;position:relative;width:100%;height:35px;background:#f7f7f7;border-bottom:1px solid #c0b9a7}
#login_footer .link{overflow:hidden;position:relative;margin: 10px auto;width: 780px;}
#login_footer .link li{float:left;margin-right:21px;padding-right:24px;background:url(../images/_footer/bu_link_footer.gif) no-repeat 100% 2px}
#login_footer .link li a{display:block;overflow:hidden;height:13px;background:url(../images/_footer/txt_link_footer.png) no-repeat 0 0;text-indent:-5000px}
#login_footer .link li.i01 a{width:82px;background-position:0 0}
#login_footer .link li.i02 a{width:88px;background-position:0 -15px}
#login_footer .link li.i03 a{width:61px;background-position:0 -30px}
#login_footer .link li.i04 a{width:82px;background-position:0 -45px}
#login_footer .link li.i05 a{width:42px;background-position:0 -60px}
#login_footer .link li.i06 a{width:70px;background-position:0 -75px}
#login_footer .link li.i07{margin-right:15px}
#login_footer .link li.i07 a{width:62px;background-position:0 -90px}
#login_footer .link li.bg_none{padding-right:0;background:none}
#login_footer .down {overflow:hidden;position:relative;width:780px;margin:0px auto;}
#login_footer h2{overflow: hidden;position: absolute;top: 10px;left: 0px;width: 124px;height: 34px;background: url(../images/_footer/logo_footer.gif) no-repeat 0 0;text-indent: -5000px;}
#login_footer .con{margin:10px 0 0 140px;font-size:11px;line-height:13px;color:#898989}
#login_footer .con strong{color:#636363}




/*****************
 * 
 ****************/
input, select {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
}

#header {width:100%;margin:0 auto;height: 60px;position: relative;background: url("../images/tbl_head_bar1.png") repeat-x;}

#headerMain {  width: 95%;  margin: 0 auto;}
#headerMain .siteLogo { float: left; margin: 4px 0px;}
#headerMain .kmipaLogo {  float: right;  margin: 8px 0px 0px;}

#contentMain {
	/* width: 95%;  */
	margin: 0.2em auto 1em auto;}
#container {width: 100%; height: 100%; margin: 0 auto;}

#f5content {width: 805px;}
#f5content.mainSeries{width:1000px;}

.noticeTbl {/* border:1px solid #838383;*/ width:1000px;  padding: 5px; } /* 알람설정 부분 */
.noticeTbl.timeSeries {width:1000px;}
.noticeTbl.searchSeries {width:1000px;}
.noticeTbl.settingSeries {width:100%;}
.noticeTbl.mainSeries {width:1000px;}
/* .noticeTbl thead th {
	background: url(../images/tbl_head_bar1.png) repeat-x;
	background-size: 10px 41px;
	background-position: 0px -17px;
	border-top: 1px solid #0046a6;
	border-bottom: 1px solid #0046a6;
	border-right: 1px solid #AEAEAE;
	border-left: 1px solid #AEAEAE;
	height:24px;
} */
.noticeTbl th.left{
	border-right-style: hidden;
	text-align: left;
	padding-left: 10px;
}
.noticeTbl th.center{
	border-left-style: hidden;
	border-right-style: hidden;
	text-align: center;
}
.noticeTbl th.right{
	border-left-style: hidden;
	text-align: right;
	padding-right: 5px;
}
.noticeTbl .toggle{
	width:100px;margin: 0 auto;
}

.toggle{text-align:center;border-collapse:separate;}

.status{
	width:24px;height:24px;background-position:center;margin:auto;background: url(../images/watchcon/status_unknown.png);background-size:100% 100%;
}
.status.TOTA{background:url(../images/watchcon/status_TOTA.png);background-size:100% 100%;}
.status.ORDI{background:url(../images/watchcon/status_ORDI.png);background-size:80% 80%;background-repeat:no-repeat;}
.status.NOTI{background:url(../images/watchcon/status_NOTI.png);background-size:100% 100%;}
.status.WARN{background:url(../images/watchcon/status_WARN.png);background-size:100% 100%;}
.status.RETR{background:url(../images/watchcon/status_ORDI.png);background-size:100% 100%;}
.status.MRO {background:url(../images/watchcon/status_MRO.png);background-size:100% 100%;}

.recv{
	width:24px;height:24px;background-position:center;margin:auto;background: url(../images/watchcon/recv_unknown.png);background-size:100% 100%;
}
.recv.INIT{background:url(../images/watchcon/recv_INIT.png);}
.recv.MISS{background:url(../images/watchcon/recv_MISS.png);}
.recv.RECV{background:url(../images/watchcon/recv_RECV.png);}
.recv.RETR{background:url(../images/watchcon/recv_RETR.png);}
 
.mainTbl {border:1px solid #0461c0; width:246px; float:left; margin:2px; border-radius: 8px;} 
.mainTbl.on {background: #EBF6FC;font-weight:bold;}
.mainTbl.on th a {color: #f41138;}

.mainTbl th, .mainTbl td{text-align: center; padding: 1px 2px; }
.mainTbl thead th {
	background: url(../images/tbl_head_bar1.png) repeat-x;
	background-size: 10px 66px;
	background-position: 0px -3px;
	border-bottom: 1px solid #0461c0;
}
.mainTbl thead th.row2 {background-position: 0px -24px;}
.mainTbl tbody th {background-color: #FFFFFF}
.mainTbl tbody .alt th {background-color: rgb(212, 237, 255);}
.mainTbl tbody td {height:38px}
.mainTbl .radar, .noticeTbl .radar{background: url("../images/watchcon/radar.png") no-repeat;
  background-size: 13px;
  padding-left: 17px;}
.mainTbl .lgt, .noticeTbl .lgt{background: url("../images/watchcon/lightning.png") no-repeat;
  background-size: 13px;
  padding-left: 17px;}

.mainTbl.timeSeries {
	width:1000px;
}
.mainTbl.searchSeries{
	width:1000px;
}
.mainTbl th.phead{
  border-right-style: hidden;
  text-align: left;
  padding-left: 10px;
}
.mainTbl th.ptail{
  text-align: right;
  padding-right: 5px;
}
.mainTbl th.ptail input, .mainTbl th.ptail select{
	vertical-align: top;
}

#datePick{
	/* height: 17px; */
	border: 1px solid #318FE3;
	background: #F8F8F8;
	margin: 0 1px;
	vertical-align: middle;
	text-align: center;
	width: 9em;
}
.ui-datepicker-trigger, .ui-datepicker-search{
	/* height: 17px; */
	vertical-align: middle;
	cursor: pointer;
}

.mainTbl.settingSeries {
	width: 99%;
}

.statGraph {
	width:800px;
}
#contentMain .monthLine{
	clear:both;
	width:800px;
	height:400px;
	margin: 20px auto 10px;
	float: left;
}
#contentMain .monthTable{
	width:800px;
}
.mainTbl.statTbl{
	width:970px;
	margin-bottom:20px;
}
#contentMain .monthTable col.month {width:61px;}
#contentMain .monthTable col.title {width:80px;}
.mainTbl .toggle {width:100px;  margin: 0 auto;}
.mainTbl.settingSeries .toggle {width:50px;}
.mainTbl .toggle.wide {width:200px;}
.mainTbl .toggle.left {float:left;}


.mainTbl td.left {text-align:left; padding-left: 10px;}
.mainTbl input.rccset {text-align:center; width:30px;}
.mainTbl input.namePattern {text-align:center; width:280px;}
.mainTbl input.nameRegex {text-align:center; width:200px;}
.mainTbl textarea.msgPtn {width:98%;height:60px;padding:4px;}
.mainTbl input.groupName {text-align:center; width:95%; height: 95%; }

.alertMap { 
	width: 500px;
  height: 640px;
  position: relative;
  float: left;}
.alertMap .map { 
  width: 500px;
  height: 640px;
  position: absolute;
  left: 0px;
  top: 0px;}
.alertMap .radar { 
  width: 60px;
  height: 60px;
  z-index: 40;
  position: absolute;}
.alertMap .RETR {background:url('../images/watchcon/radar_ordi.png') no-repeat;}
.alertMap .ORDI {background:url('../images/watchcon/radar_ordi.png') no-repeat;}
.alertMap .NOTI {background:url('../images/watchcon/radar_noti.png') no-repeat;}
.alertMap .WARN {background:url('../images/watchcon/radar_warn.png') no-repeat;}
.alertMap .TOTA {background:url('../images/watchcon/status_TOTA.png') no-repeat;}
.alertMap .MRO {background:url('../images/watchcon/status_MRO.png') no-repeat;}
.alertMap .radar.KWK {top:180px; left:250px;}
.alertMap .radar.IIA {top:160px; left:170px;}
.alertMap .radar.GDK {top:90px; left:260px;}
.alertMap .radar.GNG {top:130px; left:370px;}
.alertMap .radar.MYN {top:320px; left:410px;}
.alertMap .radar.PSN {top:420px; left:400px;}
.alertMap .radar.KSN {top:340px; left:180px;}
.alertMap .radar.JNI {top:470px; left:160px;}
.alertMap .radar.GSN {top:565px; left:120px;}
.alertMap .radar.SSP {top:565px; left:230px;}
.alertMap .radar.BRI {top:100px; left:25px;}
.alertMap .radar div {position:absolute; top:48px; left:-1px;width:100%; text-align: center; border: 1px solid #0046a6;background: url(../images/tbl_head_bar1.png) repeat-x;background-position: -1px; }

.alertMap .lgt{
	width:48px;
	height:48px;
	z-index:100;
	position:absolute;
	top:300px;
	left:20px;
}

.alertTbls {
	width: 500px;
	position: relative;
	float: right;
}

.alarmAudio {visibility: hidden;display: none;}

.login_input {margin:0 auto; background:#f9f9f9;border:1px solid #d9d9d9;padding:3px 4px; text-align:center; vertical-align:middle; color:#333; width:250px;}
.login_btn {margin:0 5px; background:#f9f9f9;border:1px outset #d9d9d9;padding:0px 4px; vertical-align:middle; color:#111; width:150px;cursor: pointer;}

.login_btn.del {  border-color: #F78C8C;  background: #F1C4C4;}
.login_btn.submit { border-color: #8CC7F7;  background: #C4E4F1;}

.user_input {margin:0 auto; background:#f9f9f9;border:1px solid #d9d9d9;padding:3px 6px; text-align:left; vertical-align:middle; color:#333; width:450px;
  font-size: 1.0em;  letter-spacing: 0.1em;}
.user_input.readonly {background: rgba(249, 249, 249, 0.1); border: 1px solid rgba(217, 217, 217, 0.5);}
.required_ico {color: rgba(237, 28, 36, 0.3);  font-size: 0.8em;  vertical-align: top;  margin-left: 3px;}

.subTbl {
	width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
	margin-top: 10px;
	border-collapse: collapse;
	/* padding: 0.75rem;
	border-top: 1px solid #dee2e6; */
}
.subTbl thead th {
	font-weight: bold;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.subTbl td, .subTbl th {
    padding: 0.75rem;
    vertical-align: text-bottom;
    border-top: 1px solid #dee2e6;
}

.subTbl .subThead {
	/* border-color: #b6aeff; */
	background-color: #b8b8b8;
}
.subTbl .toggle{
	width:100px;margin: 0 auto;
}
.subTbl td.left {text-align:left; padding-left: 10px;}
.subTbl input.rccset {text-align:center; width:30px;}
.subTbl .settingSeries .toggle {width:50px;}
.subTbl input.namePattern {text-align:center; width:280px;}
.subTbl input.nameRegex {text-align:center; width:200px;}
.subTbl textarea.msgPtn {width:98%;height:60px;padding:4px;}
.subTbl input.groupName {text-align:center; width:95%; height: 95%; }
.subTbl .toggle.wide {width:200px;}