<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='전체 감시'">

	<th:block layout:fragment="content">
		<script type="text/javascript">
			var alertToggle;
			$(document).ready(function(){
			  $("#nowTime").text(nowTime());
			  window.setInterval(function(){
				$("#nowTime").text(nowTime());
			  },1000);
			  window.setInterval(function(){
				//alertCheck2();
				//f5Station();
			  },30000);
			  alertToggle=$('.toggle').data('toggles');
			});
			$(function(){
			  $('.toggle').toggles();
			  $('.toggle').on('toggle', function (e, active) {
				if (active) {
				  $("#alert_activity").val("1");
				} else {
				  $("#alert_activity").val("0");
				}
			  });
			});
		  </script>

		<table class="noticeTbl mainSeries">
			<colgroup>
				<col style="width:auto">
				<col style="width:70px;">
				<col style="width:105px;">
				<col style="width:70px;">
				<col style="width:130px;">
			</colgroup>
			<thead>
				<tr>
					<th class="left">
					</th>
					<th class="left">알람설정:</th>
					<th class="center toggle-light">
						<div class="toggle" id="s" data-toggle-on="1" style="height: 20px;">
							<div class="toggle-slide">
								<div class="toggle-inner" style="width: 180px; margin-left: 0px;">
									<div class="toggle-on active" style="height: 20px; width: 90px; text-indent: -10px; line-height: 20px;">&nbsp;<i class="fa fa-bell"> ON</i></div><div class="toggle-blob" style="height: 20px; width: 20px; margin-left: -10px;"></div><div class="toggle-off" style="height: 20px; width: 90px; margin-left: -10px; text-indent: 10px; line-height: 20px;">
										<i class="fa fa-bell-slash-o"> OFF</i>&nbsp;
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" name="alert_activity" id="alert_activity" value="1">
						<input type="hidden" name="alert_lasttime" id="alert_lasttime" value="">
						<input type="hidden" name="alert_checksite" id="alert_checksite" value="ALL">
					</th>
					<th class="left">현재시간:</th>
					<th class="right" id="nowTime"></th>
				</tr>
			</thead>
		</table>
	
		<div id="f5content" class="mainSeries">
			<div class="alertMap">
				<div class="map"><img src="/images/map.png" alt="지도"></div>
				<!--  table join 해야함
					SELECT site, data_kind, data_type, recv_condition, apply_time, last_check_time, sms_send, sms_send_activation
					FROM watchdog.receive_condition; 
				-->
				
				<div th:each="sList : ${list.stationList}" th:classappend="${'radar '+sList.siteCd+' '+ 'ORDI'}" th:id="${sList.siteCd}">
					<div><a th:href="${'/station/'+sList.siteCd}" th:text="${sList.name_kr}"></a></div>
				</div>
			</div>

			<div class="alertTbls">
				<table class="table subTbl table-hover" summary="">
					<colgroup>
						<col width="200px">
						<col>
					</colgroup>
					<thead>
						<th colspan="2">대형 레이더</th>
					</thead>
					<tbody>
						<tr th:each="sList : ${list.stationList}" th:if="${sList.siteCd != 'IIA'}">
							<!-- 여기도 수정필요 -->
							<td class="subThead">
								<a th:href="${'/station/'+sList.siteCd}" class="radar" th:text="${sList.name_kr+' 레이더'}"></a>
							</td>
							<td>
								<span th:classappend="${'status '+ 'ORDI'}" th:title="${'정상'}"></span>
								<span th:text="${'최종 수신 '+ '2022.07.29 14:15'}"></span>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table subTbl table-hover" summary="">
					<colgroup>
						<col width="200px">
						<col>
					</colgroup>
					<thead>
						<th colspan="2">소형 레이더</th>
					</thead>
					<tbody>
						<tr>
							<!-- 여기도 수정필요 -->
							<td class="subThead">
								<a href="#" class="radar" >망일산</a>
							</td>
							<td>
								<!-- <span th:classappend="${'status '+ 'ORDI'}" th:title="${'정상'}"></span> -->
								<span>최종 수신 2022.07.29 14:15</span>
							</td>
						</tr>
						<tr>
							<!-- 여기도 수정필요 -->
							<td class="subThead">
								<a href="#" class="radar" >수리산</a>
							</td>
							<td>
								<!-- <span th:classappend="${'status '+ 'ORDI'}" th:title="${'정상'}"></span> -->
								<span>최종 수신 2022.07.29 14:15</span>
							</td>
						</tr>
						<tr>
							<!-- 여기도 수정필요 -->
							<td class="subThead">
								<a href="#" class="radar" >덕적도</a>
							</td>
							<td>
								<!-- <span th:classappend="${'status '+ 'ORDI'}" th:title="${'정상'}"></span> -->
								<span>최종 수신 2022.07.29 14:15</span>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table subTbl table-hover" summary="">
					<colgroup>
						<col width="200px">
						<col>
					</colgroup>
					<thead>
						<th colspan="2">공항 레이더</th>
					</thead>
					<tbody>
						<tr>
							<!-- 여기도 수정필요 -->
							<td class="subThead">
								<a href="#" class="radar" >인천공항</a>
							</td>
							<td>
								<!-- <span th:classappend="${'status '+ 'ORDI'}" th:title="${'정상'}"></span> -->
								<span>최종 수신 2022.07.29 14:15</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</th:block>
	<audio class="alarmAudio" controls="" preload="auto" loop=""><source src="/sounds/Electronic_Chime.mp3" type="audio/mpeg"></audio>
</html>