<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='전체 감시'">

	<th:block layout:fragment="content">
        <script th:inline="javascript">
            /* <![CDATA[ */
                var mData = /*[[${list.targetmembers}]]*/;
                console.log(mData);
            /* ]]> */
        </script>
        <script type="text/javascript">
            $(function() {
                $('.toggle').toggles();
                $('.toggle').on('toggle', function (e, active) {
                    var targetId=e.target.id.replace("act","aci");
                    if (active) {
                        $("#"+targetId).val("1");
                    } else {
                        $("#"+targetId).val("0");
                    }
                });
                $('input.back').click(function(e){
                    window.location.href = "/manage/sms_target_group";
                });
            });
        </script>
    
        <table class="noticeTbl settingSeries">
            <thead>
            <tr>
                <th class="left">
                    관리 &gt; 문자 수신자 관리
                </th>
                <th class="right">
                </th>
            </tr>
            </thead>
        </table>
        
        <table class="mainTbl settingSeries" summary="">
            <caption class="hidden">문자 수신자 관리</caption>
            <colgroup>
                <col style="width:90px" />
                <col style="width:120px" />
                <col style="width:120px" />
                <col style="width:200px" />
                <col />
                <col />
                <col style="width:140px" />
            </colgroup>
            <thead>
                <tr>
                    <th>성명</th>
                    <th>직책</th>
                    <th>부서</th>
                    <th>소속</th>
                    <th>연락처</th>
                    <th>활성화</th>
                    <th>관리</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tmList, tmListStat : ${list.targetmembers}">
                <!-- <form action="sms_target_member_update" name="smsTargetMember[${idx.index }]" method="post" target="_self" id="searchDate${idx.index }" > -->
                    <td>
                        <input type="hidden" name="mid" th:value="${tmList.id }"/>
                        <input type="text" name="name" th:value="${tmList.name }"/>
                    </td>
                    <td>
                        <input type="text" name="position" th:value="${tmList.position }"/>
                    </td>
                    <td>
                        <input type="text" name="department" th:value="${tmList.department }"/>
                    </td>
                    <td>
                        <input type="text" name="organization" th:value="${tmList.organization }"/>
                    </td>
                    <td>
                        <input type="text" name="phone_num" th:value="${tmList.phone_num }"/>
                    </td>
                    <td>
                        <div class="toggle toggle-light" th:id="${'act-'+tmListStat.index}" th:data-toggle-on="${tmList.activation }"></div>
                        <input type="hidden" name="activation" th:id="${'aci-'+tmListStat.index}" th:value="${tmList.activation }"/>
                    </td>
                    <td>
                        <input type="submit" class="btn" name="" value="수정"/>
                        <a class="btn" href="sms_target_member_remove?m=${member.mid}">삭제</a>
                    </td>
                <!-- </form> -->
                </tr>
            </tbody>
        </table>
        <table class="noticeTbl settingSeries" >
            <thead>
            <tr>
                <th class="left">
                    관리 > 문자 수신자 추가
                </th>
                <th class="right">
                
                </th>
            </tr>
            </thead>
        </table>
        <table class="mainTbl settingSeries" summary="">
            <caption class="hidden">문자 수신자 추가</caption>
            <colgroup>
                <col style="width:90px" />
                <col style="width:120px" />
                <col style="width:120px" />
                <col style="width:200px" />
                <col />
                <col />
                <col style="width:140px" />
            </colgroup>
            <thead>
                <tr>
                    <th>성명</th>
                    <th>직책</th>
                    <th>부서</th>
                    <th>소속</th>
                    <th>연락처</th>
                    <th>활성화</th>
                    <th>추가</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <form action="manager/sms_target_member_add" name="smsTargetMemberAdd" method="post" target="_self" id="smsTargetMemberAdd" >
                    <td>
                        <input type="hidden" name="mid" value="0"/>
                        <input type="text" name="name" value=""/>
                    </td>
                    <td>
                        <input type="text" name="position" value=""/>
                    </td>
                    <td>
                        <input type="text" name="department" value=""/>
                    </td>
                    <td>
                        <input type="text" name="organization" value=""/>
                    </td>
                    <td>
                        <input type="text" name="phone_num" value=""/>
                    </td>
                    <td>
                        <div class="toggle toggle-light" id="act-Add" data-toggle-on="1"></div>
                        <input type="hidden" name="activation" id="aci-Add" value="1"/>
                    </td>
                    <td>
                        <input type="submit" class="btn" name="" value="사용자 추가"/>
                    </td>
                </form>
                </tr>
            </tbody>
        </table>
    </th:block>
</html>