<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      th:with="metaTitle='전체 감시'">

	<th:block layout:fragment="content">
        <script type="text/javascript">
        $(function() {
            $('.toggle').toggles();
            $('.toggle').on('toggle', function (e, active) {
                var targetId=e.target.id.replace("toggle","id");
                if (active) {
                    $("#"+targetId).val("1");
                } else {
                    $("#"+targetId).val("0");
                }
            });
            $('a.btn').button();
            $('input.back').click(function(e){
                window.location.href = "/manage/sms_target_group";
            });
        });
        </script>

        <table class="noticeTbl searchSeries" >
            <thead>
            <tr>
                <th class="left">
                    관리 > 그룹 관리 > [ ${group.name } ] 그룹 감시 자료 설정
                </th>
                <th class="right">
                    <input type="button" class="back" value="그룹관리로 돌아가기"/>
                </th>
            </tr>
            </thead>
        </table>

        <table class="mainTbl searchSeries" summary="">
            <caption class="hidden">그룹 관리</caption>
            <colgroup>
                <col style="width:100px" />
                <col style="width:120px" />
                <col style="width:100px"/>
                <col />
                <col style="width:140px"/>
            </colgroup>
            <thead>
                <tr>
                    <th colspan="5">
                        ${group.name } 그룹에게 문자가 통보되는 지점별 데이터 목록
                    </th>
                </tr>
                <tr>
                    <th>구분</th>
                    <th>지점</th>
                    <th colspan="2">데이터</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody>
                <c:forEach var="link" items="${links }" varStatus="idx">
                <tr>
                    <td>
                        <c:choose>
                            <c:when test="${link.data_kind eq 'RDR' }">레이더</c:when>
                            <c:when test="${link.data_kind eq 'all' }">네트워크</c:when>
                            <c:otherwise>낙뢰</c:otherwise>
                        </c:choose>
                    </td>
                    <td>
                        <c:choose>
                            <c:when test="${link.data_kind eq 'RDR' }">${link.name_kr }</c:when>
                            <c:otherwise>-</c:otherwise>
                        </c:choose>
                    </td>
                    <td>
                        ${link.data_type }
                    </td>
                    <td>
                        ${link.data_name }
                    </td>
                    <td>
                        <a class="btn" href="sms_target_group_unlink.do?id=${group.gid }&k=${link.data_kind}&t=${link.data_type}&s=${link.site}">연결 삭제</a>
                    </td>
                </tr>
                </c:forEach>
            </tbody>
        </table>
        <table class="noticeTbl searchSeries" >
            <thead>
            <tr>
                <th class="left">

                </th>
                <th class="right">
                    <input type="button" class="back" value="그룹관리로 돌아가기"/>
                </th>
            </tr>
            </thead>
        </table>

        <table class="mainTbl searchSeries" summary="">
            <caption class="hidden">그룹 관리</caption>
            <colgroup>
                <col style="width:100px" />
                <col style="width:120px" />
                <col style="width:100px"/>
                <col />
                <col style="width:140px"/>
            </colgroup>
            <thead>
                <tr>
                    <th colspan="5">
                        ${group.name } 그룹에게 문자가 통보되도록 추가할 수 있는 지점별 데이터 목록
                    </th>
                </tr>
                <tr>
                    <th>구분</th>
                    <th>지점</th>
                    <th colspan="2">데이터</th>
                    <th>추가</th>
                </tr>
            </thead>
            <tbody>
                <c:forEach var="link" items="${notlinks }" varStatus="idx">
                <tr>
                    <td>
                        <c:choose>
                            <c:when test="${link.data_kind eq 'RDR' }">레이더</c:when>
                            <c:when test="${link.data_kind eq 'all' }">네트워크</c:when>
                            <c:otherwise>낙뢰</c:otherwise>
                        </c:choose>
                    </td>
                    <td>
                        <c:choose>
                            <c:when test="${link.data_kind eq 'RDR' }">${link.name_kr }</c:when>
                            <c:otherwise>-</c:otherwise>
                        </c:choose>
                    </td>
                    <td>
                        ${link.data_type }
                    </td>
                    <td>
                        ${link.data_name }
                    </td>
                    <td>
                        <a class="btn" href="sms_target_group_mklink.do?id=${group.gid }&k=${link.data_kind}&t=${link.data_type}&s=${link.site}">연결 추가</a>
                    </td>
                </tr>
                </c:forEach>
            </tbody>
        </table>
    </th:block>
</html>